/** RAL Classic */
/** SCSS variable name from numeric ID */

$RAL1000: rgb(205,186,136);
$RAL1001: rgb(208,176,132);
$RAL1002: rgb(210,170,109);
$RAL1003: rgb(249,168,  0);
$RAL1004: rgb(228,158,  0);
$RAL1005: rgb(203,142,  0);
$RAL1006: rgb(226,144,  0);
$RAL1007: rgb(232,140,  0);
$RAL1011: rgb(175,128, 79);
$RAL1012: rgb(221,175, 39);
$RAL1013: rgb(227,217,198);
$RAL1014: rgb(221,196,154);
$RAL1015: rgb(230,210,181);
$RAL1016: rgb(241,221, 56);
$RAL1017: rgb(246,169, 80);
$RAL1018: rgb(250,202, 48);
$RAL1019: rgb(164,143,122);
$RAL1020: rgb(160,143,101);
$RAL1021: rgb(246,182,  0);
$RAL1023: rgb(247,181,  0);
$RAL1024: rgb(186,143, 76);
$RAL1026: rgb(255,255,  0);
$RAL1027: rgb(167,127, 14);
$RAL1028: rgb(255,155,  0);
$RAL1032: rgb(226,163,  0);
$RAL1033: rgb(249,154, 28);
$RAL1034: rgb(235,156, 82);
$RAL1035: rgb(144,131,112);
$RAL1036: rgb(128,100, 63);
$RAL1037: rgb(240,146,  0);
$RAL2000: rgb(218,110,  0);
$RAL2001: rgb(186, 72, 27);
$RAL2002: rgb(191, 57, 34);
$RAL2003: rgb(246,120, 40);
$RAL2004: rgb(226, 83,  3);
$RAL2005: rgb(255, 77,  6);
$RAL2007: rgb(255,178,  0);
$RAL2008: rgb(237,107, 33);
$RAL2009: rgb(222, 83,  7);
$RAL2010: rgb(208, 93, 40);
$RAL2011: rgb(226,110, 14);
$RAL2012: rgb(213,101, 77);
$RAL2013: rgb(146, 62, 37);
$RAL3000: rgb(167, 41, 32);
$RAL3001: rgb(155, 36, 35);
$RAL3002: rgb(155, 35, 33);
$RAL3003: rgb(134, 26, 34);
$RAL3004: rgb(107, 28, 35);
$RAL3005: rgb( 89, 25, 31);
$RAL3007: rgb( 62, 32, 34);
$RAL3009: rgb(109, 52, 45);
$RAL3011: rgb(121, 36, 35);
$RAL3012: rgb(198,132,109);
$RAL3013: rgb(151, 46, 37);
$RAL3014: rgb(203,115,117);
$RAL3015: rgb(216,160,166);
$RAL3016: rgb(166, 61, 47);
$RAL3017: rgb(203, 85, 93);
$RAL3018: rgb(199, 63, 74);
$RAL3020: rgb(187, 30, 16);
$RAL3022: rgb(207,105, 85);
$RAL3024: rgb(255, 45, 33);
$RAL3026: rgb(255, 42, 27);
$RAL3027: rgb(171, 39, 60);
$RAL3028: rgb(204, 44, 36);
$RAL3031: rgb(166, 52, 55);
$RAL3032: rgb(112, 29, 35);
$RAL3033: rgb(165, 58, 45);
$RAL4001: rgb(129, 97,131);
$RAL4002: rgb(141, 60, 75);
$RAL4003: rgb(196, 97,140);
$RAL4004: rgb(101, 30, 56);
$RAL4005: rgb(118,104,154);
$RAL4006: rgb(144, 51,115);
$RAL4007: rgb( 71, 36, 60);
$RAL4008: rgb(132, 76,130);
$RAL4009: rgb(157,134,146);
$RAL4010: rgb(188, 64,119);
$RAL4011: rgb(110, 99,135);
$RAL4012: rgb(107,107,127);
$RAL5000: rgb( 49, 79,111);
$RAL5001: rgb( 15, 76,100);
$RAL5002: rgb(  0, 56,123);
$RAL5003: rgb( 31, 56, 85);
$RAL5004: rgb( 25, 30, 40);
$RAL5005: rgb(  0, 83,135);
$RAL5007: rgb( 55,107,140);
$RAL5008: rgb( 43, 58, 68);
$RAL5009: rgb( 34, 95,120);
$RAL5010: rgb(  0, 79,124);
$RAL5011: rgb( 26, 43, 60);
$RAL5012: rgb(  0,137,182);
$RAL5013: rgb( 25, 49, 83);
$RAL5014: rgb( 99,125,150);
$RAL5015: rgb(  0,124,176);
$RAL5017: rgb(  0, 91,140);
$RAL5018: rgb(  5,139,140);
$RAL5019: rgb(  0, 94,131);
$RAL5020: rgb(  0, 65, 75);
$RAL5021: rgb(  0,117,119);
$RAL5022: rgb( 34, 45, 90);
$RAL5023: rgb( 66,105,140);
$RAL5024: rgb( 96,147,172);
$RAL5025: rgb( 33,105,124);
$RAL5026: rgb( 15, 48, 82);
$RAL6000: rgb( 60,116, 96);
$RAL6001: rgb( 54,103, 53);
$RAL6002: rgb( 50, 89, 40);
$RAL6003: rgb( 80, 83, 60);
$RAL6004: rgb(  2, 68, 66);
$RAL6005: rgb( 17, 66, 50);
$RAL6006: rgb( 60, 57, 46);
$RAL6007: rgb( 44, 50, 34);
$RAL6008: rgb( 55, 52, 42);
$RAL6009: rgb( 39, 53, 42);
$RAL6010: rgb( 77,111, 57);
$RAL6011: rgb(108,124, 89);
$RAL6012: rgb( 48, 61, 58);
$RAL6013: rgb(125,118, 90);
$RAL6014: rgb( 71, 65, 53);
$RAL6015: rgb( 61, 61, 54);
$RAL6016: rgb(  0,105, 76);
$RAL6017: rgb( 88,127, 64);
$RAL6018: rgb( 97,153, 59);
$RAL6019: rgb(185,206,172);
$RAL6020: rgb( 55, 66, 47);
$RAL6021: rgb(138,153,119);
$RAL6022: rgb( 58, 51, 39);
$RAL6024: rgb(  0,131, 81);
$RAL6025: rgb( 94,110, 59);
$RAL6026: rgb(  0, 95, 78);
$RAL6027: rgb(126,186,181);
$RAL6028: rgb( 49, 84, 66);
$RAL6029: rgb(  0,111, 61);
$RAL6032: rgb( 35,127, 82);
$RAL6033: rgb( 70,135,127);
$RAL6034: rgb(122,172,172);
$RAL6035: rgb( 25, 77, 37);
$RAL6036: rgb(  4, 87, 75);
$RAL6037: rgb(  0,139, 41);
$RAL6038: rgb(  0,181, 26);
$RAL7000: rgb(122,136,142);
$RAL7001: rgb(140,150,157);
$RAL7002: rgb(129,120, 99);
$RAL7003: rgb(122,118,105);
$RAL7004: rgb(155,155,155);
$RAL7005: rgb(108,110,107);
$RAL7006: rgb(118,106, 94);
$RAL7008: rgb(116, 94, 61);
$RAL7009: rgb( 93, 96, 88);
$RAL7010: rgb( 88, 92, 86);
$RAL7011: rgb( 82, 89, 93);
$RAL7012: rgb( 87, 93, 94);
$RAL7013: rgb( 87, 80, 68);
$RAL7015: rgb( 79, 83, 88);
$RAL7016: rgb( 56, 62, 66);
$RAL7021: rgb( 47, 50, 52);
$RAL7022: rgb( 76, 74, 68);
$RAL7023: rgb(128,128,118);
$RAL7024: rgb( 69, 73, 78);
$RAL7026: rgb( 55, 67, 69);
$RAL7030: rgb(146,142,133);
$RAL7031: rgb( 91,104,109);
$RAL7032: rgb(181,176,161);
$RAL7033: rgb(127,130,116);
$RAL7034: rgb(146,136,111);
$RAL7035: rgb(197,199,196);
$RAL7036: rgb(151,147,146);
$RAL7037: rgb(122,123,122);
$RAL7038: rgb(176,176,169);
$RAL7039: rgb(107,102, 94);
$RAL7040: rgb(152,158,161);
$RAL7042: rgb(142,146,145);
$RAL7043: rgb( 79, 82, 80);
$RAL7044: rgb(183,179,168);
$RAL7045: rgb(141,146,149);
$RAL7046: rgb(127,134,138);
$RAL7047: rgb(200,200,199);
$RAL7048: rgb(129,123,115);
$RAL8000: rgb(137,105, 62);
$RAL8001: rgb(157, 98, 43);
$RAL8002: rgb(121, 77, 62);
$RAL8003: rgb(126, 75, 38);
$RAL8004: rgb(141, 73, 49);
$RAL8007: rgb(112, 69, 42);
$RAL8008: rgb(114, 74, 37);
$RAL8011: rgb( 90, 56, 38);
$RAL8012: rgb(102, 51, 43);
$RAL8014: rgb( 74, 53, 38);
$RAL8015: rgb( 94, 47, 38);
$RAL8016: rgb( 76, 43, 32);
$RAL8017: rgb( 68, 47, 41);
$RAL8019: rgb( 61, 54, 53);
$RAL8022: rgb( 26, 23, 24);
$RAL8023: rgb(164, 87, 41);
$RAL8024: rgb(121, 80, 56);
$RAL8025: rgb(117, 88, 71);
$RAL8028: rgb( 81, 58, 42);
$RAL8029: rgb(127, 64, 49);
$RAL9001: rgb(233,224,210);
$RAL9002: rgb(215,213,203);
$RAL9003: rgb(236,236,231);
$RAL9004: rgb( 43, 43, 44);
$RAL9005: rgb( 14, 14, 16);
$RAL9006: rgb(161,161,160);
$RAL9007: rgb(135,133,129);
$RAL9010: rgb(241,236,225);
$RAL9011: rgb( 39, 41, 43);
$RAL9016: rgb(241,240,234);
$RAL9017: rgb( 42, 41, 42);
$RAL9018: rgb(200,203,196);
$RAL9022: rgb(133,133,131);
$RAL9023: rgb(121,123,122);
