/** RAL Effect */
/** SCSS variable name from official ID */
/** -M denotes the 70 metallic colors */

$RAL110-1:	rgb(230,231,230); /* RAL 110-1 */
$RAL110-2:	rgb(222,221,213); /* RAL 110-2 */
$RAL110-3:	rgb(200,198,190); /* RAL 110-3 */
$RAL110-4:	rgb(198,199,196); /* RAL 110-4 */
$RAL110-5:	rgb(201,204,198); /* RAL 110-5 */
$RAL110-6:	rgb(200,200,199); /* RAL 110-6 */
$RAL110-M:	rgb(160,162,164); /* RAL 110-M */
$RAL120-1:	rgb(237,237,234); /* RAL 120-1 */
$RAL120-2:	rgb(242,241,236); /* RAL 120-2 */
$RAL120-3:	rgb(240,238,229); /* RAL 120-3 */
$RAL120-4:	rgb(233,225,212); /* RAL 120-4 */
$RAL120-5:	rgb(226,217,198); /* RAL 120-5 */
$RAL120-6:	rgb(234,225,206); /* RAL 120-6 */
$RAL120-M:	rgb(143,141,135); /* RAL 120-M */
$RAL130-1:	rgb(242,237,187); /* RAL 130-1 */
$RAL130-2:	rgb(241,238,195); /* RAL 130-2 */
$RAL130-3:	rgb(240,238,205); /* RAL 130-3 */
$RAL130-4:	rgb(248,240,207); /* RAL 130-4 */
$RAL130-5:	rgb(237,228,188); /* RAL 130-5 */
$RAL130-6:	rgb(251,229,176); /* RAL 130-6 */
$RAL130-M:	rgb(171,171,144); /* RAL 130-M */
$RAL140-1:	rgb(250,211,169); /* RAL 140-1 */
$RAL140-2:	rgb(254,218,166); /* RAL 140-2 */
$RAL140-3:	rgb(254,227,193); /* RAL 140-3 */
$RAL140-4:	rgb(253,223,190); /* RAL 140-4 */
$RAL140-5:	rgb(248,228,200); /* RAL 140-5 */
$RAL140-6:	rgb(229,210,182); /* RAL 140-6 */
$RAL140-M:	rgb(176,158,126); /* RAL 140-M */
$RAL150-1:	rgb(247,239,233); /* RAL 150-1 */
$RAL150-2:	rgb(249,235,227); /* RAL 150-2 */
$RAL150-3:	rgb(238,225,215); /* RAL 150-3 */
$RAL150-4:	rgb(251,227,212); /* RAL 150-4 */
$RAL150-5:	rgb(250,232,220); /* RAL 150-5 */
$RAL150-6:	rgb(248,223,215); /* RAL 150-6 */
$RAL150-M:	rgb(171,151,138); /* RAL 150-M */
$RAL160-1:	rgb(227,225,236); /* RAL 160-1 */
$RAL160-2:	rgb(231,226,232); /* RAL 160-2 */
$RAL160-3:	rgb(237,232,232); /* RAL 160-3 */
$RAL160-4:	rgb(238,225,226); /* RAL 160-4 */
$RAL160-5:	rgb(239,228,224); /* RAL 160-5 */
$RAL160-6:	rgb(236,228,233); /* RAL 160-6 */
$RAL160-M:	rgb(173,166,181); /* RAL 160-M */
$RAL170-1:	rgb(199,201,208); /* RAL 170-1 */
$RAL170-2:	rgb(166,173,189); /* RAL 170-2 */
$RAL170-3:	rgb(186,200,218); /* RAL 170-3 */
$RAL170-4:	rgb(206,219,236); /* RAL 170-4 */
$RAL170-5:	rgb(195,198,214); /* RAL 170-5 */
$RAL170-6:	rgb(198,197,214); /* RAL 170-6 */
$RAL170-M:	rgb(167,168,185); /* RAL 170-M */
$RAL180-1:	rgb(174,188,198); /* RAL 180-1 */
$RAL180-2:	rgb(185,205,221); /* RAL 180-2 */
$RAL180-3:	rgb(199,219,235); /* RAL 180-3 */
$RAL180-4:	rgb(201,225,236); /* RAL 180-4 */
$RAL180-5:	rgb(199,221,225); /* RAL 180-5 */
$RAL180-6:	rgb(219,233,235); /* RAL 180-6 */
$RAL180-M:	rgb(150,164,169); /* RAL 180-M */
$RAL190-1:	rgb(165,218,223); /* RAL 190-1 */
$RAL190-2:	rgb(185,230,242); /* RAL 190-2 */
$RAL190-3:	rgb(192,222,225); /* RAL 190-3 */
$RAL190-4:	rgb(189,218,215); /* RAL 190-4 */
$RAL190-5:	rgb(212,229,231); /* RAL 190-5 */
$RAL190-6:	rgb(163,193,191); /* RAL 190-6 */
$RAL190-M:	rgb(146,180,178); /* RAL 190-M */
$RAL210-1:	rgb(207,198,178); /* RAL 210-1 */
$RAL210-2:	rgb(236,231,210); /* RAL 210-2 */
$RAL210-3:	rgb(227,228,217); /* RAL 210-3 */
$RAL210-4:	rgb(214,230,227); /* RAL 210-4 */
$RAL210-5:	rgb(216,232,224); /* RAL 210-5 */
$RAL210-6:	rgb(216,233,214); /* RAL 210-6 */
$RAL210-M:	rgb(165,169,155); /* RAL 210-M */
$RAL220-1:	rgb(102,184,114); /* RAL 220-1 */
$RAL220-2:	rgb( 51,154, 81); /* RAL 220-2 */
$RAL220-3:	rgb(  0,111, 60); /* RAL 220-3 */
$RAL220-4:	rgb(  8,133, 84); /* RAL 220-4 */
$RAL220-5:	rgb( 38,126, 81); /* RAL 220-5 */
$RAL220-6:	rgb(  0,106, 77); /* RAL 220-6 */
$RAL220-M:	rgb(  0,127, 62); /* RAL 220-M */
$RAL230-1:	rgb(187,219,154); /* RAL 230-1 */
$RAL230-2:	rgb(150,200,108); /* RAL 230-2 */
$RAL230-3:	rgb(125,179, 68); /* RAL 230-3 */
$RAL230-4:	rgb( 95,151, 58); /* RAL 230-4 */
$RAL230-5:	rgb( 57,105, 56); /* RAL 230-5 */
$RAL230-6:	rgb( 54, 92, 48); /* RAL 230-6 */
$RAL230-M:	rgb( 98,167, 78); /* RAL 230-M */
$RAL240-1:	rgb(220,214,145); /* RAL 240-1 */
$RAL240-2:	rgb(170,175,102); /* RAL 240-2 */
$RAL240-3:	rgb(147,151, 85); /* RAL 240-3 */
$RAL240-4:	rgb(126,126, 66); /* RAL 240-4 */
$RAL240-5:	rgb( 93,109, 60); /* RAL 240-5 */
$RAL240-6:	rgb( 79,109, 53); /* RAL 240-6 */
$RAL240-M:	rgb( 98,116, 57); /* RAL 240-M */
$RAL250-1:	rgb(238,230,165); /* RAL 250-1 */
$RAL250-2:	rgb(232,222,111); /* RAL 250-2 */
$RAL250-3:	rgb(191,183,  0); /* RAL 250-3 */
$RAL250-4:	rgb(164,165, 65); /* RAL 250-4 */
$RAL250-5:	rgb(145,145, 56); /* RAL 250-5 */
$RAL250-6:	rgb(105,101, 44); /* RAL 250-6 */
$RAL250-M:	rgb(174,167, 59); /* RAL 250-M */
$RAL260-1:	rgb(243,233,180); /* RAL 260-1 */
$RAL260-2:	rgb(241,228,131); /* RAL 260-2 */
$RAL260-3:	rgb(243,212, 70); /* RAL 260-3 */
$RAL260-4:	rgb(232,192, 31); /* RAL 260-4 */
$RAL260-5:	rgb(222,176, 45); /* RAL 260-5 */
$RAL260-6:	rgb(239,180, 22); /* RAL 260-6 */
$RAL260-M:	rgb(184,148, 79); /* RAL 260-M */
$RAL270-1:	rgb(255,222,131); /* RAL 270-1 */
$RAL270-2:	rgb(250,204, 57); /* RAL 270-2 */
$RAL270-3:	rgb(244,189, 22); /* RAL 270-3 */
$RAL270-4:	rgb(235,177,  0); /* RAL 270-4 */
$RAL270-5:	rgb(246,182,  0); /* RAL 270-5 */
$RAL270-6:	rgb(254,196, 63); /* RAL 270-6 */
$RAL270-M:	rgb(203,148, 55); /* RAL 270-M */
$RAL280-1:	rgb(253,225,147); /* RAL 280-1 */
$RAL280-2:	rgb(240,211,145); /* RAL 280-2 */
$RAL280-3:	rgb(225,190,120); /* RAL 280-3 */
$RAL280-4:	rgb(214,174, 95); /* RAL 280-4 */
$RAL280-5:	rgb(220,161, 64); /* RAL 280-5 */
$RAL280-6:	rgb(208,151, 60); /* RAL 280-6 */
$RAL280-M:	rgb(178,135, 64); /* RAL 280-M */
$RAL290-1:	rgb(216,155, 80); /* RAL 290-1 */
$RAL290-2:	rgb(191,133, 59); /* RAL 290-2 */
$RAL290-3:	rgb(216,169, 96); /* RAL 290-3 */
$RAL290-4:	rgb(204,146, 27); /* RAL 290-4 */
$RAL290-5:	rgb(230,176, 62); /* RAL 290-5 */
$RAL290-6:	rgb(252,171,  4); /* RAL 290-6 */
$RAL290-M:	rgb(184,126, 50); /* RAL 290-M */
$RAL310-1:	rgb(245,214,180); /* RAL 310-1 */
$RAL310-2:	rgb(235,194,151); /* RAL 310-2 */
$RAL310-3:	rgb(223,171,115); /* RAL 310-3 */
$RAL310-4:	rgb(208,147, 85); /* RAL 310-4 */
$RAL310-5:	rgb(186,124, 67); /* RAL 310-5 */
$RAL310-6:	rgb(142, 91, 45); /* RAL 310-6 */
$RAL310-M:	rgb(184,125, 79); /* RAL 310-M */
$RAL320-1:	rgb(210,169,108); /* RAL 320-1 */
$RAL320-2:	rgb(174,129, 81); /* RAL 320-2 */
$RAL320-3:	rgb(185,134, 76); /* RAL 320-3 */
$RAL320-4:	rgb(160,103, 53); /* RAL 320-4 */
$RAL320-5:	rgb(127, 78, 46); /* RAL 320-5 */
$RAL320-6:	rgb(110, 68, 40); /* RAL 320-6 */
$RAL320-M:	rgb(185,115, 30); /* RAL 320-M */
$RAL330-1:	rgb(168,104, 89); /* RAL 330-1 */
$RAL330-2:	rgb(142, 75, 53); /* RAL 330-2 */
$RAL330-3:	rgb(121, 78, 62); /* RAL 330-3 */
$RAL330-4:	rgb( 92, 59, 45); /* RAL 330-4 */
$RAL330-5:	rgb( 80, 49, 42); /* RAL 330-5 */
$RAL330-6:	rgb( 70, 50, 46); /* RAL 330-6 */
$RAL330-M:	rgb(139, 89, 67); /* RAL 330-M */
$RAL340-1:	rgb(190,164,169); /* RAL 340-1 */
$RAL340-2:	rgb(164,140,146); /* RAL 340-2 */
$RAL340-3:	rgb(127, 84, 82); /* RAL 340-3 */
$RAL340-4:	rgb(104, 61, 64); /* RAL 340-4 */
$RAL340-5:	rgb( 79, 42, 45); /* RAL 340-5 */
$RAL340-6:	rgb( 79, 43, 49); /* RAL 340-6 */
$RAL340-M:	rgb( 83, 53, 59); /* RAL 340-M */
$RAL350-1:	rgb(157, 49, 31); /* RAL 350-1 */
$RAL350-2:	rgb(167, 63, 50); /* RAL 350-2 */
$RAL350-3:	rgb(162, 71, 51); /* RAL 350-3 */
$RAL350-4:	rgb(129, 48, 33); /* RAL 350-4 */
$RAL350-5:	rgb(120, 49, 34); /* RAL 350-5 */
$RAL350-6:	rgb(102, 50, 43); /* RAL 350-6 */
$RAL350-M:	rgb( 88, 47, 42); /* RAL 350-M */
$RAL360-1:	rgb(224,125, 41); /* RAL 360-1 */
$RAL360-2:	rgb(217,117, 30); /* RAL 360-2 */
$RAL360-3:	rgb(198, 98, 23); /* RAL 360-3 */
$RAL360-4:	rgb(183, 86, 41); /* RAL 360-4 */
$RAL360-5:	rgb(154, 79, 44); /* RAL 360-5 */
$RAL360-6:	rgb(145, 80, 51); /* RAL 360-6 */
$RAL360-M:	rgb(164, 86, 51); /* RAL 360-M */
$RAL370-1:	rgb(255,174, 71); /* RAL 370-1 */
$RAL370-2:	rgb(255,155, 56); /* RAL 370-2 */
$RAL370-3:	rgb(255,144, 29); /* RAL 370-3 */
$RAL370-4:	rgb(230,131, 22); /* RAL 370-4 */
$RAL370-5:	rgb(212,120, 31); /* RAL 370-5 */
$RAL370-6:	rgb(205,108, 16); /* RAL 370-6 */
$RAL370-M:	rgb(180,122, 60); /* RAL 370-M */
$RAL380-1:	rgb(255,155, 41); /* RAL 380-1 */
$RAL380-2:	rgb(255,146,  4); /* RAL 380-2 */
$RAL380-3:	rgb(250,132, 26); /* RAL 380-3 */
$RAL380-4:	rgb(226,113, 33); /* RAL 380-4 */
$RAL380-5:	rgb(242,120, 47); /* RAL 380-5 */
$RAL380-6:	rgb(234,106, 36); /* RAL 380-6 */
$RAL380-M:	rgb(167, 85, 42); /* RAL 380-M */
$RAL390-1:	rgb(235,119, 63); /* RAL 390-1 */
$RAL390-2:	rgb(227, 97, 37); /* RAL 390-2 */
$RAL390-3:	rgb(222, 84, 17); /* RAL 390-3 */
$RAL390-4:	rgb(216, 81, 28); /* RAL 390-4 */
$RAL390-5:	rgb(216, 72, 15); /* RAL 390-5 */
$RAL390-6:	rgb(205, 94, 42); /* RAL 390-6 */
$RAL390-M:	rgb(191, 99, 59); /* RAL 390-M */
$RAL410-1:	rgb(237,129,101); /* RAL 410-1 */
$RAL410-2:	rgb(234,115, 79); /* RAL 410-2 */
$RAL410-3:	rgb(228,100, 64); /* RAL 410-3 */
$RAL410-4:	rgb(220, 93, 56); /* RAL 410-4 */
$RAL410-5:	rgb(210, 85, 53); /* RAL 410-5 */
$RAL410-6:	rgb(208, 93, 66); /* RAL 410-6 */
$RAL410-M:	rgb(171, 73, 36); /* RAL 410-M */
$RAL420-1:	rgb(237,174,154); /* RAL 420-1 */
$RAL420-2:	rgb(242,157,134); /* RAL 420-2 */
$RAL420-3:	rgb(233,138,108); /* RAL 420-3 */
$RAL420-4:	rgb(228,100, 67); /* RAL 420-4 */
$RAL420-5:	rgb(204, 87, 56); /* RAL 420-5 */
$RAL420-6:	rgb(191, 80, 46); /* RAL 420-6 */
$RAL420-M:	rgb(157, 75, 50); /* RAL 420-M */
$RAL430-1:	rgb(242,194,182); /* RAL 430-1 */
$RAL430-2:	rgb(236,153,139); /* RAL 430-2 */
$RAL430-3:	rgb(228,128,116); /* RAL 430-3 */
$RAL430-4:	rgb(221, 90, 76); /* RAL 430-4 */
$RAL430-5:	rgb(213, 67, 60); /* RAL 430-5 */
$RAL430-6:	rgb(190, 58, 36); /* RAL 430-6 */
$RAL430-M:	rgb(168, 76, 69); /* RAL 430-M */
$RAL440-1:	rgb(202, 56, 60); /* RAL 440-1 */
$RAL440-2:	rgb(211, 76, 73); /* RAL 440-2 */
$RAL440-3:	rgb(186, 60, 62); /* RAL 440-3 */
$RAL440-4:	rgb(155, 41, 41); /* RAL 440-4 */
$RAL440-5:	rgb(166, 49, 41); /* RAL 440-5 */
$RAL440-6:	rgb(185, 53, 37); /* RAL 440-6 */
$RAL440-M:	rgb(155, 37, 44); /* RAL 440-M */
$RAL450-1:	rgb(244,199,202); /* RAL 450-1 */
$RAL450-2:	rgb(237,165,170); /* RAL 450-2 */
$RAL450-3:	rgb(224,122,129); /* RAL 450-3 */
$RAL450-4:	rgb(200, 88, 98); /* RAL 450-4 */
$RAL450-5:	rgb(178, 49, 47); /* RAL 450-5 */
$RAL450-6:	rgb(187, 32, 29); /* RAL 450-6 */
$RAL450-M:	rgb(167, 22, 22); /* RAL 450-M */
$RAL460-1:	rgb(239,163,167); /* RAL 460-1 */
$RAL460-2:	rgb(227,127,137); /* RAL 460-2 */
$RAL460-3:	rgb(223, 99,104); /* RAL 460-3 */
$RAL460-4:	rgb(211, 82, 84); /* RAL 460-4 */
$RAL460-5:	rgb(168, 55, 59); /* RAL 460-5 */
$RAL460-6:	rgb(139, 27, 40); /* RAL 460-6 */
$RAL460-M:	rgb(174, 54, 59); /* RAL 460-M */
$RAL470-1:	rgb(240,179,193); /* RAL 470-1 */
$RAL470-2:	rgb(230,139,157); /* RAL 470-2 */
$RAL470-3:	rgb(222,115,131); /* RAL 470-3 */
$RAL470-4:	rgb(202, 77,103); /* RAL 470-4 */
$RAL470-5:	rgb(172, 45, 76); /* RAL 470-5 */
$RAL470-6:	rgb(156, 34, 63); /* RAL 470-6 */
$RAL470-M:	rgb(177, 79, 93); /* RAL 470-M */
$RAL480-1:	rgb(245,202,201); /* RAL 480-1 */
$RAL480-2:	rgb(245,192,190); /* RAL 480-2 */
$RAL480-3:	rgb(238,186,188); /* RAL 480-3 */
$RAL480-4:	rgb(238,165,177); /* RAL 480-4 */
$RAL480-5:	rgb(233,144,158); /* RAL 480-5 */
$RAL480-6:	rgb(218,108,130); /* RAL 480-6 */
$RAL480-M:	rgb(168,117,121); /* RAL 480-M */
$RAL490-1:	rgb(243,207,208); /* RAL 490-1 */
$RAL490-2:	rgb(247,202,195); /* RAL 490-2 */
$RAL490-3:	rgb(232,154,146); /* RAL 490-3 */
$RAL490-4:	rgb(195,123,119); /* RAL 490-4 */
$RAL490-5:	rgb(190,127,140); /* RAL 490-5 */
$RAL490-6:	rgb(210,158,168); /* RAL 490-6 */
$RAL490-M:	rgb(167,125,136); /* RAL 490-M */
$RAL510-1:	rgb(236,200,220); /* RAL 510-1 */
$RAL510-2:	rgb(224,165,203); /* RAL 510-2 */
$RAL510-3:	rgb(213,132,177); /* RAL 510-3 */
$RAL510-4:	rgb(196, 99,141); /* RAL 510-4 */
$RAL510-5:	rgb(186, 72,119); /* RAL 510-5 */
$RAL510-6:	rgb(154, 59,106); /* RAL 510-6 */
$RAL510-M:	rgb(140, 61,113); /* RAL 510-M */
$RAL520-1:	rgb(239,210,223); /* RAL 520-1 */
$RAL520-2:	rgb(232,186,210); /* RAL 520-2 */
$RAL520-3:	rgb(220,165,192); /* RAL 520-3 */
$RAL520-4:	rgb(186,114,147); /* RAL 520-4 */
$RAL520-5:	rgb(160, 78,111); /* RAL 520-5 */
$RAL520-6:	rgb(146, 82,110); /* RAL 520-6 */
$RAL520-M:	rgb(158, 88,139); /* RAL 520-M */
$RAL530-1:	rgb(152, 68, 77); /* RAL 530-1 */
$RAL530-2:	rgb(143, 63, 78); /* RAL 530-2 */
$RAL530-3:	rgb(121, 54, 68); /* RAL 530-3 */
$RAL530-4:	rgb(124, 47, 75); /* RAL 530-4 */
$RAL530-5:	rgb(102, 37, 61); /* RAL 530-5 */
$RAL530-6:	rgb( 97, 41, 74); /* RAL 530-6 */
$RAL530-M:	rgb( 92, 45, 58); /* RAL 530-M */
$RAL540-1:	rgb(212,193,215); /* RAL 540-1 */
$RAL540-2:	rgb(190,161,193); /* RAL 540-2 */
$RAL540-3:	rgb(128, 95,131); /* RAL 540-3 */
$RAL540-4:	rgb(150,107,152); /* RAL 540-4 */
$RAL540-5:	rgb(129, 83,122); /* RAL 540-5 */
$RAL540-6:	rgb( 86, 44, 81); /* RAL 540-6 */
$RAL540-M:	rgb( 86, 47, 78); /* RAL 540-M */
$RAL550-1:	rgb(224,209,217); /* RAL 550-1 */
$RAL550-2:	rgb(208,187,201); /* RAL 550-2 */
$RAL550-3:	rgb(178,146,168); /* RAL 550-3 */
$RAL550-4:	rgb(156,116,136); /* RAL 550-4 */
$RAL550-5:	rgb(141, 97,119); /* RAL 550-5 */
$RAL550-6:	rgb(120, 76, 94); /* RAL 550-6 */
$RAL550-M:	rgb(167,136,144); /* RAL 550-M */
$RAL560-1:	rgb(204,188,199); /* RAL 560-1 */
$RAL560-2:	rgb(176,156,173); /* RAL 560-2 */
$RAL560-3:	rgb(140,111,128); /* RAL 560-3 */
$RAL560-4:	rgb(119, 84, 96); /* RAL 560-4 */
$RAL560-5:	rgb(133,114,127); /* RAL 560-5 */
$RAL560-6:	rgb(125,110,127); /* RAL 560-6 */
$RAL560-M:	rgb(165,146,164); /* RAL 560-M */
$RAL570-1:	rgb(209,206,232); /* RAL 570-1 */
$RAL570-2:	rgb(195,191,225); /* RAL 570-2 */
$RAL570-3:	rgb(173,173,221); /* RAL 570-3 */
$RAL570-4:	rgb(155,154,207); /* RAL 570-4 */
$RAL570-5:	rgb(128,120,179); /* RAL 570-5 */
$RAL570-6:	rgb(121,104,155); /* RAL 570-6 */
$RAL570-M:	rgb(107, 88,154); /* RAL 570-M */
$RAL580-1:	rgb(194,207,230); /* RAL 580-1 */
$RAL580-2:	rgb(188,199,224); /* RAL 580-2 */
$RAL580-3:	rgb(167,178,209); /* RAL 580-3 */
$RAL580-4:	rgb(105,116,154); /* RAL 580-4 */
$RAL580-5:	rgb( 65, 80,110); /* RAL 580-5 */
$RAL580-6:	rgb( 36, 49, 84); /* RAL 580-6 */
$RAL580-M:	rgb( 99,108,134); /* RAL 580-M */
$RAL590-1:	rgb(102,109,155); /* RAL 590-1 */
$RAL590-2:	rgb( 66, 66,118); /* RAL 590-2 */
$RAL590-3:	rgb( 42, 54,107); /* RAL 590-3 */
$RAL590-4:	rgb( 39, 47, 91); /* RAL 590-4 */
$RAL590-5:	rgb( 20, 45, 88); /* RAL 590-5 */
$RAL590-6:	rgb(  9, 59,122); /* RAL 590-6 */
$RAL590-M:	rgb( 41, 56, 98); /* RAL 590-M */
$RAL610-1:	rgb(110,143,171); /* RAL 610-1 */
$RAL610-2:	rgb( 97,122,148); /* RAL 610-2 */
$RAL610-3:	rgb(109,149,185); /* RAL 610-3 */
$RAL610-4:	rgb(137,178,216); /* RAL 610-4 */
$RAL610-5:	rgb( 71,119,174); /* RAL 610-5 */
$RAL610-6:	rgb( 67,105,153); /* RAL 610-6 */
$RAL610-M:	rgb(120,151,181); /* RAL 610-M */
$RAL620-1:	rgb( 52,104,138); /* RAL 620-1 */
$RAL620-2:	rgb( 96,146,172); /* RAL 620-2 */
$RAL620-3:	rgb(100,129,143); /* RAL 620-3 */
$RAL620-4:	rgb( 58, 90,106); /* RAL 620-4 */
$RAL620-5:	rgb( 20, 53, 75); /* RAL 620-5 */
$RAL620-6:	rgb( 30, 45, 63); /* RAL 620-6 */
$RAL620-M:	rgb(  9, 50, 70); /* RAL 620-M */
$RAL630-1:	rgb( 81,163,211); /* RAL 630-1 */
$RAL630-2:	rgb( 68,107,142); /* RAL 630-2 */
$RAL630-3:	rgb( 46, 78,111); /* RAL 630-3 */
$RAL630-4:	rgb( 45, 74,110); /* RAL 630-4 */
$RAL630-5:	rgb( 31, 52, 84); /* RAL 630-5 */
$RAL630-6:	rgb( 25, 54, 84); /* RAL 630-6 */
$RAL630-M:	rgb( 22, 48, 76); /* RAL 630-M */
$RAL640-1:	rgb( 73,160,197); /* RAL 640-1 */
$RAL640-2:	rgb(  0,135,181); /* RAL 640-2 */
$RAL640-3:	rgb(  0,123,174); /* RAL 640-3 */
$RAL640-4:	rgb(  0, 92,140); /* RAL 640-4 */
$RAL640-5:	rgb(  0, 84,138); /* RAL 640-5 */
$RAL640-6:	rgb(  0, 79,125); /* RAL 640-6 */
$RAL640-M:	rgb(  0, 78,135); /* RAL 640-M */
$RAL650-1:	rgb(100,181,214); /* RAL 650-1 */
$RAL650-2:	rgb(  0,119,160); /* RAL 650-2 */
$RAL650-3:	rgb(  0,108,151); /* RAL 650-3 */
$RAL650-4:	rgb(  0, 85,119); /* RAL 650-4 */
$RAL650-5:	rgb( 29, 91,120); /* RAL 650-5 */
$RAL650-6:	rgb( 10, 73, 98); /* RAL 650-6 */
$RAL650-M:	rgb(  0,113,157); /* RAL 650-M */
$RAL660-1:	rgb(  0,148,176); /* RAL 660-1 */
$RAL660-2:	rgb( 11,141,168); /* RAL 660-2 */
$RAL660-3:	rgb( 81,165,184); /* RAL 660-3 */
$RAL660-4:	rgb( 63,184,207); /* RAL 660-4 */
$RAL660-5:	rgb(108,195,212); /* RAL 660-5 */
$RAL660-6:	rgb(138,200,213); /* RAL 660-6 */
$RAL660-M:	rgb( 85,151,169); /* RAL 660-M */
$RAL670-1:	rgb(138,211,234); /* RAL 670-1 */
$RAL670-2:	rgb(151,218,239); /* RAL 670-2 */
$RAL670-3:	rgb(143,197,214); /* RAL 670-3 */
$RAL670-4:	rgb(105,187,211); /* RAL 670-4 */
$RAL670-5:	rgb( 91,185,213); /* RAL 670-5 */
$RAL670-6:	rgb( 78,194,230); /* RAL 670-6 */
$RAL670-M:	rgb(116,167,184); /* RAL 670-M */
$RAL680-1:	rgb(114,170,186); /* RAL 680-1 */
$RAL680-2:	rgb( 51,143,164); /* RAL 680-2 */
$RAL680-3:	rgb( 23,113,133); /* RAL 680-3 */
$RAL680-4:	rgb( 38,118,141); /* RAL 680-4 */
$RAL680-5:	rgb(  0,106,133); /* RAL 680-5 */
$RAL680-6:	rgb(  0, 91,116); /* RAL 680-6 */
$RAL680-M:	rgb( 14, 69, 92); /* RAL 680-M */
$RAL690-1:	rgb( 63,191,203); /* RAL 690-1 */
$RAL690-2:	rgb(  0,162,173); /* RAL 690-2 */
$RAL690-3:	rgb(  0,131,142); /* RAL 690-3 */
$RAL690-4:	rgb(  0,108,123); /* RAL 690-4 */
$RAL690-5:	rgb(  0, 83, 95); /* RAL 690-5 */
$RAL690-6:	rgb(  0, 81, 96); /* RAL 690-6 */
$RAL690-M:	rgb(  0,103,115); /* RAL 690-M */
$RAL710-1:	rgb(120,209,205); /* RAL 710-1 */
$RAL710-2:	rgb(  0,170,167); /* RAL 710-2 */
$RAL710-3:	rgb(  5,138,139); /* RAL 710-3 */
$RAL710-4:	rgb(  0,116,118); /* RAL 710-4 */
$RAL710-5:	rgb(  0, 92, 96); /* RAL 710-5 */
$RAL710-6:	rgb( 12, 71, 70); /* RAL 710-6 */
$RAL710-M:	rgb(  0,104,107); /* RAL 710-M */
$RAL720-1:	rgb(194,227,222); /* RAL 720-1 */
$RAL720-2:	rgb(164,226,219); /* RAL 720-2 */
$RAL720-3:	rgb(134,211,212); /* RAL 720-3 */
$RAL720-4:	rgb( 88,190,193); /* RAL 720-4 */
$RAL720-5:	rgb( 51,147,160); /* RAL 720-5 */
$RAL720-6:	rgb( 25,124,134); /* RAL 720-6 */
$RAL720-M:	rgb( 26,148,154); /* RAL 720-M */
$RAL730-1:	rgb(203,231,226); /* RAL 730-1 */
$RAL730-2:	rgb(152,211,211); /* RAL 730-2 */
$RAL730-3:	rgb(125,184,186); /* RAL 730-3 */
$RAL730-4:	rgb(123,185,180); /* RAL 730-4 */
$RAL730-5:	rgb(121,172,172); /* RAL 730-5 */
$RAL730-6:	rgb( 70,135,127); /* RAL 730-6 */
$RAL730-M:	rgb( 98,162,147); /* RAL 730-M */
$RAL740-1:	rgb(197,220,206); /* RAL 740-1 */
$RAL740-2:	rgb(179,214,201); /* RAL 740-2 */
$RAL740-3:	rgb(149,195,178); /* RAL 740-3 */
$RAL740-4:	rgb( 73,133,116); /* RAL 740-4 */
$RAL740-5:	rgb(  0,111, 91); /* RAL 740-5 */
$RAL740-6:	rgb(  0, 93, 78); /* RAL 740-6 */
$RAL740-M:	rgb( 58,111, 95); /* RAL 740-M */
$RAL750-1:	rgb(191,215,201); /* RAL 750-1 */
$RAL750-2:	rgb(143,180,160); /* RAL 750-2 */
$RAL750-3:	rgb( 61,116, 97); /* RAL 750-3 */
$RAL750-4:	rgb( 22, 66, 52); /* RAL 750-4 */
$RAL750-5:	rgb( 51, 84, 73); /* RAL 750-5 */
$RAL750-6:	rgb( 46, 60, 59); /* RAL 750-6 */
$RAL750-M:	rgb( 23, 55, 45); /* RAL 750-M */
$RAL760-1:	rgb(213,227,202); /* RAL 760-1 */
$RAL760-2:	rgb(184,205,170); /* RAL 760-2 */
$RAL760-3:	rgb(176,190,155); /* RAL 760-3 */
$RAL760-4:	rgb(139,155,122); /* RAL 760-4 */
$RAL760-5:	rgb(109,126, 92); /* RAL 760-5 */
$RAL760-6:	rgb( 74,100, 72); /* RAL 760-6 */
$RAL760-M:	rgb( 51, 75, 46); /* RAL 760-M */
$RAL770-1:	rgb(152,157,132); /* RAL 770-1 */
$RAL770-2:	rgb(169,168,143); /* RAL 770-2 */
$RAL770-3:	rgb(122,117, 90); /* RAL 770-3 */
$RAL770-4:	rgb(129,122,102); /* RAL 770-4 */
$RAL770-5:	rgb(180,175,159); /* RAL 770-5 */
$RAL770-6:	rgb(126,130,115); /* RAL 770-6 */
$RAL770-M:	rgb(141,136,100); /* RAL 770-M */
$RAL780-1:	rgb(233,222,204); /* RAL 780-1 */
$RAL780-2:	rgb(231,214,185); /* RAL 780-2 */
$RAL780-3:	rgb(221,196,154); /* RAL 780-3 */
$RAL780-4:	rgb(209,177,134); /* RAL 780-4 */
$RAL780-5:	rgb(163,142,121); /* RAL 780-5 */
$RAL780-6:	rgb(116,105, 92); /* RAL 780-6 */
$RAL780-M:	rgb(178,160,116); /* RAL 780-M */
$RAL790-1:	rgb( 62, 72, 73); /* RAL 790-1 */
$RAL790-2:	rgb( 59, 65, 71); /* RAL 790-2 */
$RAL790-3:	rgb( 49, 53, 56); /* RAL 790-3 */
$RAL790-4:	rgb( 48, 47, 50); /* RAL 790-4 */
$RAL790-5:	rgb( 33, 34, 36); /* RAL 790-5 */
$RAL790-6:	rgb( 33, 35, 45); /* RAL 790-6 */
$RAL790-M:	rgb( 34, 31, 29); /* RAL 790-M */
$RAL810-1:	rgb(151,157,162); /* RAL 810-1 */
$RAL810-2:	rgb(138,148,153); /* RAL 810-2 */
$RAL810-3:	rgb(121,136,142); /* RAL 810-3 */
$RAL810-4:	rgb( 94,107,115); /* RAL 810-4 */
$RAL810-5:	rgb( 81, 89, 93); /* RAL 810-5 */
$RAL810-6:	rgb( 57, 65, 70); /* RAL 810-6 */
$RAL810-M:	rgb( 64, 70, 73); /* RAL 810-M */
$RAL820-1:	rgb(197,200,202); /* RAL 820-1 */
$RAL820-2:	rgb(169,174,178); /* RAL 820-2 */
$RAL820-3:	rgb(141,147,149); /* RAL 820-3 */
$RAL820-4:	rgb(125,133,137); /* RAL 820-4 */
$RAL820-5:	rgb( 80, 85, 92); /* RAL 820-5 */
$RAL820-6:	rgb( 68, 73, 81); /* RAL 820-6 */
$RAL820-M:	rgb(146,145,145); /* RAL 820-M */
$RAL830-1:	rgb(186,188,186); /* RAL 830-1 */
$RAL830-2:	rgb(164,167,165); /* RAL 830-2 */
$RAL830-3:	rgb(141,146,145); /* RAL 830-3 */
$RAL830-4:	rgb(108,112,109); /* RAL 830-4 */
$RAL830-5:	rgb( 81, 85, 84); /* RAL 830-5 */
$RAL830-6:	rgb( 87, 94, 96); /* RAL 830-6 */
$RAL830-M:	rgb(130,129,127); /* RAL 830-M */
$RAL840-1:	rgb(231,227,216); /* RAL 840-1 */
$RAL840-2:	rgb(215,213,204); /* RAL 840-2 */
$RAL840-3:	rgb(184,180,168); /* RAL 840-3 */
$RAL840-4:	rgb(128,128,119); /* RAL 840-4 */
$RAL840-5:	rgb( 90, 93, 84); /* RAL 840-5 */
$RAL840-6:	rgb( 71, 65, 53); /* RAL 840-6 */
$RAL840-M:	rgb( 73, 68, 64); /* RAL 840-M */
$RAL850-1:	rgb(195,194,185); /* RAL 850-1 */
$RAL850-2:	rgb(177,177,170); /* RAL 850-2 */
$RAL850-3:	rgb(166,166,160); /* RAL 850-3 */
$RAL850-4:	rgb(145,141,133); /* RAL 850-4 */
$RAL850-5:	rgb(107,103, 96); /* RAL 850-5 */
$RAL850-6:	rgb( 76, 75, 70); /* RAL 850-6 */
$RAL850-M:	rgb( 98, 94, 89); /* RAL 850-M */
$RAL860-1:	rgb(216,218,219); /* RAL 860-1 */
$RAL860-2:	rgb(207,210,213); /* RAL 860-2 */
$RAL860-3:	rgb(193,194,196); /* RAL 860-3 */
$RAL860-4:	rgb(154,154,155); /* RAL 860-4 */
$RAL860-5:	rgb(122,122,121); /* RAL 860-5 */
$RAL860-6:	rgb( 91, 95, 95); /* RAL 860-6 */
$RAL860-M:	rgb(164,160,159); /* RAL 860-M */
$RAL870-1:	rgb(211,208,208); /* RAL 870-1 */
$RAL870-2:	rgb(150,147,146); /* RAL 870-2 */
$RAL870-3:	rgb( 99, 97,100); /* RAL 870-3 */
$RAL870-4:	rgb( 81, 77, 78); /* RAL 870-4 */
$RAL870-5:	rgb( 74, 71, 71); /* RAL 870-5 */
$RAL870-6:	rgb( 61, 55, 55); /* RAL 870-6 */
$RAL870-M:	rgb( 77, 71, 71); /* RAL 870-M */
