/** RAL Classic NL */
/** CSS variable name from official Dutch name */

:root {
--groenbeige:             rgb(205,186,136); /* RAL 1000 */
--beige:                  rgb(208,176,132); /* RAL 1001 */
--zandgeel:               rgb(210,170,109); /* RAL 1002 */
--signaalgeel:            rgb(249,168,  0); /* RAL 1003 */
--goudgeel:               rgb(228,158,  0); /* RAL 1004 */
--honinggeel:             rgb(203,142,  0); /* RAL 1005 */
--maisgeel:               rgb(226,144,  0); /* RAL 1006 */
--narcissengeel:          rgb(232,140,  0); /* RAL 1007 */
--bruinbeige:             rgb(175,128, 79); /* RAL 1011 */
--citroengeel:            rgb(221,175, 39); /* RAL 1012 */
--parelwit:               rgb(227,217,198); /* RAL 1013 */
--ivoorkleurig:           rgb(221,196,154); /* RAL 1014 */
--licht-ivoorkleurig:     rgb(230,210,181); /* RAL 1015 */
--zwavelgeel:             rgb(241,221, 56); /* RAL 1016 */
--saffraangeel:           rgb(246,169, 80); /* RAL 1017 */
--zinkgeel:               rgb(250,202, 48); /* RAL 1018 */
--grijsbeige:             rgb(164,143,122); /* RAL 1019 */ --grysbeige: var(--grijsbeige); --grÿsbeige: var(--grijsbeige);
--olijfgeel:              rgb(160,143,101); /* RAL 1020 */ --olyfgeel: var(--olijfgeel); --olÿfgeel: var(--olijfgeel);
--koolzaadgeel:           rgb(246,182,  0); /* RAL 1021 */
--verkeersgeel:           rgb(247,181,  0); /* RAL 1023 */
--okergeel:               rgb(186,143, 76); /* RAL 1024 */
--briljantgeel:           rgb(255,255,  0); /* RAL 1026 */
--kerriegeel:             rgb(167,127, 14); /* RAL 1027 */
--meloengeel:             rgb(255,155,  0); /* RAL 1028 */
--bremgeel:               rgb(226,163,  0); /* RAL 1032 */
--dahliageel:             rgb(249,154, 28); /* RAL 1033 */
--pastelgeel:             rgb(235,156, 82); /* RAL 1034 */
--parelmoer-grijs:        rgb(144,131,112); /* RAL 1035 */ --parelmoer-grys: var(--parelmoer-grijs); --parelmoer-grÿs: var(--parelmoer-grijs);
--parelmoer-goud:         rgb(128,100, 63); /* RAL 1036 */
--zonnegeel:              rgb(240,146,  0); /* RAL 1037 */
--geeloranje:             rgb(218,110,  0); /* RAL 2000 */
--roodoranje:             rgb(186, 72, 27); /* RAL 2001 */
--vermiljoen:             rgb(191, 57, 34); /* RAL 2002 */
--pasteloranje:           rgb(246,120, 40); /* RAL 2003 */
--zuiver-oranje:          rgb(226, 83,  3); /* RAL 2004 */
--briljantoranje:         rgb(255, 77,  6); /* RAL 2005 */
--briljant-lichtoranje:   rgb(255,178,  0); /* RAL 2007 */
--licht-roodoranje:       rgb(237,107, 33); /* RAL 2008 */
--verkeersoranje:         rgb(222, 83,  7); /* RAL 2009 */
--signaaloranje:          rgb(208, 93, 40); /* RAL 2010 */
--dieporanje:             rgb(226,110, 14); /* RAL 2011 */
--zalmoranje:             rgb(213,101, 77); /* RAL 2012 */
--parelmoer-oranje:       rgb(146, 62, 37); /* RAL 2013 */
--vuurrood:               rgb(167, 41, 32); /* RAL 3000 */
--signaalrood:            rgb(155, 36, 35); /* RAL 3001 */
--karmijnrood:            rgb(155, 35, 33); /* RAL 3002 */ --karmynrood: var(--karmijnrood); --karmÿnrood: var(--karmijnrood);
--robijnrood:             rgb(134, 26, 34); /* RAL 3003 */ --robynrood: var(--robijnrood); --robÿnrood: var(--robijnrood);
--purperrood:             rgb(107, 28, 35); /* RAL 3004 */
--wijnrood:               rgb( 89, 25, 31); /* RAL 3005 */ --wynrood: var(--wijnrood); --wÿnrood: var(--wijnrood);
--zwartrood:              rgb( 62, 32, 34); /* RAL 3007 */
--oxyderood:              rgb(109, 52, 45); /* RAL 3009 */
--bruinrood:              rgb(121, 36, 35); /* RAL 3011 */
--beigerood:              rgb(198,132,109); /* RAL 3012 */
--tomaatrood:             rgb(151, 46, 37); /* RAL 3013 */
--oudroze:                rgb(203,115,117); /* RAL 3014 */
--lichtroze:              rgb(216,160,166); /* RAL 3015 */
--koraalrood:             rgb(166, 61, 47); /* RAL 3016 */
--bleekrood:              rgb(203, 85, 93); /* RAL 3017 */
--aardbeirood:            rgb(199, 63, 74); /* RAL 3018 */
--verkeersrood:           rgb(187, 30, 16); /* RAL 3020 */
--zalmrood:               rgb(207,105, 85); /* RAL 3022 */
--briljantrood:           rgb(255, 45, 33); /* RAL 3024 */
--briljant-lichtrood:     rgb(255, 42, 27); /* RAL 3026 */
--framboosrood:           rgb(171, 39, 60); /* RAL 3027 */
--zuiver-rood:            rgb(204, 44, 36); /* RAL 3028 */
--orientrood:             rgb(166, 52, 55); /* RAL 3031 */ --oriëntrood: var(--orientrood);
--parelmoer-donkerrood:   rgb(112, 29, 35); /* RAL 3032 */
--parelmoer-lichtrood:    rgb(165, 58, 45); /* RAL 3033 */
--roodlila:               rgb(129, 97,131); /* RAL 4001 */
--roodpaars:              rgb(141, 60, 75); /* RAL 4002 */
--heidepaars:             rgb(196, 97,140); /* RAL 4003 */
--bordeuaxpaars:          rgb(101, 30, 56); /* RAL 4004 */
--blauwlila:              rgb(118,104,154); /* RAL 4005 */
--verkeerspurper:         rgb(144, 51,115); /* RAL 4006 */
--purperviolet:           rgb( 71, 36, 60); /* RAL 4007 */
--signaalviolet:          rgb(132, 76,130); /* RAL 4008 */
--pastelviolet:           rgb(157,134,146); /* RAL 4009 */
--telemagenta:            rgb(188, 64,119); /* RAL 4010 */
--parelmoer-donkerviolet: rgb(110, 99,135); /* RAL 4011 */
--parelmoer-lichtviolet:  rgb(107,107,127); /* RAL 4012 */
--paarsblauw:             rgb( 49, 79,111); /* RAL 5000 */
--groenblauw:             rgb( 15, 76,100); /* RAL 5001 */
--ultramarijn-blauw:      rgb(  0, 56,123); /* RAL 5002 */ --ultramaryn-blauw: var(--ultramarijn-blauw); --ultramarÿn-blauw: var(--ultramarijn-blauw);
--saffierblauw:           rgb( 31, 56, 85); /* RAL 5003 */
--zwartblauw:             rgb( 25, 30, 40); /* RAL 5004 */
--signaalblauw:           rgb(  0, 83,135); /* RAL 5005 */
--briljantblauw:          rgb( 55,107,140); /* RAL 5007 */
--grijsblauw:             rgb( 43, 58, 68); /* RAL 5008 */ --grysblauw: var(--grijsblauw); --grÿsblauw: var(--grijsblauw);
--azuurblauw:             rgb( 34, 95,120); /* RAL 5009 */
--gentiaanblauw:          rgb(  0, 79,124); /* RAL 5010 */
--staalblauw:             rgb( 26, 43, 60); /* RAL 5011 */
--lichtblauw:             rgb(  0,137,182); /* RAL 5012 */
--kobaltblauw:            rgb( 25, 49, 83); /* RAL 5013 */
--duifblauw:              rgb( 99,125,150); /* RAL 5014 */
--hemelsblauw:            rgb(  0,124,176); /* RAL 5015 */
--verkeersblauw:          rgb(  0, 91,140); /* RAL 5017 */
--turkooisblauw:          rgb(  5,139,140); /* RAL 5018 */
--capriblauw:             rgb(  0, 94,131); /* RAL 5019 */
--oceaanblauw:            rgb(  0, 65, 75); /* RAL 5020 */
--waterblauw:             rgb(  0,117,119); /* RAL 5021 */
--nachtblauw:             rgb( 34, 45, 90); /* RAL 5022 */
--verblauw:               rgb( 66,105,140); /* RAL 5023 */
--pastelblauw:            rgb( 96,147,172); /* RAL 5024 */
--parelmoer-blauw:        rgb( 33,105,124); /* RAL 5025 */
--parelmoer-nachtblauw:   rgb( 15, 48, 82); /* RAL 5026 */
--patinagroen:            rgb( 60,116, 96); /* RAL 6000 */
--smaragdgroen:           rgb( 54,103, 53); /* RAL 6001 */
--loofgroen:              rgb( 50, 89, 40); /* RAL 6002 */
--olijfgroen:             rgb( 80, 83, 60); /* RAL 6003 */ --olyfgroen: var(--olijfgroen); --olÿfgroen: var(--olijfgroen);
--blauwgroen:             rgb(  2, 68, 66); /* RAL 6004 */
--mosgroen:               rgb( 17, 66, 50); /* RAL 6005 */
--grijs-olijfgroen:       rgb( 60, 57, 46); /* RAL 6006 */ --grijs-olyfgroen: var(--grijs-olijfgroen); --grijs-olÿfgroen: var(--grijs-olijfgroen);
--flessengroen:           rgb( 44, 50, 34); /* RAL 6007 */
--bruingroen:             rgb( 55, 52, 42); /* RAL 6008 */
--dennengroen:            rgb( 39, 53, 42); /* RAL 6009 */
--grasgroen:              rgb( 77,111, 57); /* RAL 6010 */
--resedagroen:            rgb(108,124, 89); /* RAL 6011 */
--zwartgroen:             rgb( 48, 61, 58); /* RAL 6012 */
--rietgroen:              rgb(125,118, 90); /* RAL 6013 */
--geel-olijfgroen:        rgb( 71, 65, 53); /* RAL 6014 */ --geel-olyfgroen: var(--geel-olijfgroen); --geel-olÿfgroen: var(--geel-olijfgroen);
--zwart-olijfgroen:       rgb( 61, 61, 54); /* RAL 6015 */ --zwart-olyfgroen: var(--zwart-olijfgroen); --zwart-olÿfgroen: var(--zwart-olijfgroen);
--turkooisgroen:          rgb(  0,105, 76); /* RAL 6016 */
--meigroen:               rgb( 88,127, 64); /* RAL 6017 */
--geelgroen:              rgb( 97,153, 59); /* RAL 6018 */
--witgroen:               rgb(185,206,172); /* RAL 6019 */
--chroomoxyde-groen:      rgb( 55, 66, 47); /* RAL 6020 */
--bleekgroen:             rgb(138,153,119); /* RAL 6021 */
--bruin-olijfgroen:       rgb( 58, 51, 39); /* RAL 6022 */ --bruin-olyfgroen: var(--bruin-olijfgroen); --bruin-olÿfgroen: var(--bruin-olijfgroen);
--verkeersgroen:          rgb(  0,131, 81); /* RAL 6024 */
--varengroen:             rgb( 94,110, 59); /* RAL 6025 */
--opaalgroen:             rgb(  0, 95, 78); /* RAL 6026 */
--lichtgroen:             rgb(126,186,181); /* RAL 6027 */
--pijnboomgroen:          rgb( 49, 84, 66); /* RAL 6028 */ --pynboomgroen: var(--pijnboomgroen); --pÿnboomgroen: var(--pijnboomgroen);
--mintgroen:              rgb(  0,111, 61); /* RAL 6029 */
--signaalgroen:           rgb( 35,127, 82); /* RAL 6032 */
--mintturquoise:          rgb( 70,135,127); /* RAL 6033 */
--pastelturquoise:        rgb(122,172,172); /* RAL 6034 */
--parelmoer-donkergroen:  rgb( 25, 77, 37); /* RAL 6035 */
--parelmoer-lichtgroen:   rgb(  4, 87, 75); /* RAL 6036 */
--zuiver-groen:           rgb(  0,139, 41); /* RAL 6037 */
--briljantgroen:          rgb(  0,181, 26); /* RAL 6038 */
--pelsgrijs:              rgb(122,136,142); /* RAL 7000 */ --pelsgrys: var(--pelsgrijs); --pelsgrÿs: var(--pelsgrijs);
--zilvergrijs:            rgb(140,150,157); /* RAL 7001 */ --zilvergrys: var(--zilvergrijs); --zilvergrÿs: var(--zilvergrijs);
--olijfgrijs:             rgb(129,120, 99); /* RAL 7002 */ --olijfgrys: var(--olijfgrijs); --olijfgrÿs: var(--olijfgrijs);
--mosgrijs:               rgb(122,118,105); /* RAL 7003 */ --mosgrys: var(--mosgrijs); --mosgrÿs: var(--mosgrijs);
--signaalgrijs:           rgb(155,155,155); /* RAL 7004 */ --signaalgrys: var(--signaalgrijs); --signaalgrÿs: var(--signaalgrijs);
--muisgrijs:              rgb(108,110,107); /* RAL 7005 */ --muisgrys: var(--muisgrijs); --muisgrÿs: var(--muisgrijs);
--beigegrijs:             rgb(118,106, 94); /* RAL 7006 */ --beigegrys: var(--beigegrijs); --beigegrÿs: var(--beigegrijs);
--kakigrijs:              rgb(116, 94, 61); /* RAL 7008 */ --kakigrys: var(--kakigrijs); --kakigrÿs: var(--kakigrijs);
--groengrijs:             rgb( 93, 96, 88); /* RAL 7009 */ --groengrys: var(--groengrijs); --groengrÿs: var(--groengrijs);
--zeildoekgrijs:          rgb( 88, 92, 86); /* RAL 7010 */ --zeildoekgrys: var(--zeildoekgrijs); --zeildoekgrÿs: var(--zeildoekgrijs);
--ijzergrijs:             rgb( 82, 89, 93); /* RAL 7011 */ --ijzergrys: var(--ijzergrijs); --ijzergrÿs: var(--ijzergrijs);
--bazaltgrijs:            rgb( 87, 93, 94); /* RAL 7012 */ --bazaltgrys: var(--bazaltgrijs); --bazaltgrÿs: var(--bazaltgrijs);
--bruingrijs:             rgb( 87, 80, 68); /* RAL 7013 */ --bruingrys: var(--bruingrijs); --bruingrÿs: var(--bruingrijs);
--leigrijs:               rgb( 79, 83, 88); /* RAL 7015 */ --leigrys: var(--leigrijs); --leigrÿs: var(--leigrijs);
--antracietgrijs:         rgb( 56, 62, 66); /* RAL 7016 */ --antracietgrys: var(--antracietgrijs); --antracietgrÿs: var(--antracietgrijs);
--zwartgrijs:             rgb( 47, 50, 52); /* RAL 7021 */ --zwartgrys: var(--zwartgrijs); --zwartgrÿs: var(--zwartgrijs);
--ombergrijs:             rgb( 76, 74, 68); /* RAL 7022 */ --ombergrys: var(--ombergrijs); --ombergrÿs: var(--ombergrijs);
--betongrijs:             rgb(128,128,118); /* RAL 7023 */ --betongrys: var(--betongrijs); --betongrÿs: var(--betongrijs);
--grafietgrijs:           rgb( 69, 73, 78); /* RAL 7024 */ --grafietgrys: var(--grafietgrijs); --grafietgrÿs: var(--grafietgrijs);
--granietgrijs:           rgb( 55, 67, 69); /* RAL 7026 */ --granietgrys: var(--granietgrijs); --granietgrÿs: var(--granietgrijs);
--steengrijs:             rgb(146,142,133); /* RAL 7030 */ --steengrys: var(--steengrijs); --steengrÿs: var(--steengrijs);
--blauwgrijs:             rgb( 91,104,109); /* RAL 7031 */ --blauwgrys: var(--blauwgrijs); --blauwgrÿs: var(--blauwgrijs);
--kiezelgrijs:            rgb(181,176,161); /* RAL 7032 */ --kiezelgrys: var(--kiezelgrijs); --kiezelgrÿs: var(--kiezelgrijs);
--cementgrijs:            rgb(127,130,116); /* RAL 7033 */ --cementgrys: var(--cementgrijs); --cementgrÿs: var(--cementgrijs);
--geelgrijs:              rgb(146,136,111); /* RAL 7034 */ --geelgrys: var(--geelgrijs); --geelgrÿs: var(--geelgrijs);
--lichtgrijs:             rgb(197,199,196); /* RAL 7035 */ --lichtgrys: var(--lichtgrijs); --lichtgrÿs: var(--lichtgrijs);
--platinagrijs:           rgb(151,147,146); /* RAL 7036 */ --platinagrys: var(--platinagrijs); --platinagrÿs: var(--platinagrijs);
--stofgrijs:              rgb(122,123,122); /* RAL 7037 */ --stofgrys: var(--stofgrijs); --stofgrÿs: var(--stofgrijs);
--agaatgrijs:             rgb(176,176,169); /* RAL 7038 */ --agaatgrys: var(--agaatgrijs); --agaatgrÿs: var(--agaatgrijs);
--kwartsgrijs:            rgb(107,102, 94); /* RAL 7039 */ --kwartsgrys: var(--kwartsgrijs); --kwartsgrÿs: var(--kwartsgrijs);
--venstergrijs:           rgb(152,158,161); /* RAL 7040 */ --venstergrys: var(--venstergrijs); --venstergrÿs: var(--venstergrijs);
--verkeersgrijs-a:        rgb(142,146,145); /* RAL 7042 */ --verkeersgrys-a: var(--verkeersgrijs-a); --verkeersgrÿs-a: var(--verkeersgrijs-a);
--verkeersgrijs-b:        rgb( 79, 82, 80); /* RAL 7043 */ --verkeersgrys-b: var(--verkeersgrijs-b); --verkeersgrÿs-b: var(--verkeersgrijs-b);
--zijdegrijs:             rgb(183,179,168); /* RAL 7044 */ --zijdegrys: var(--zijdegrijs); --zijdegrÿs: var(--zijdegrijs);
--telegrijs-1:            rgb(141,146,149); /* RAL 7045 */ --telegrys-1: var(--telegrijs-1); --telegrÿs-1: var(--telegrijs-1);
--telegrijs-2:            rgb(127,134,138); /* RAL 7046 */ --telegrys-2: var(--telegrijs-2); --telegrÿs-2: var(--telegrijs-2);
--telegrijs-4:            rgb(200,200,199); /* RAL 7047 */ --telegrys-4: var(--telegrijs-4); --telegrÿs-4: var(--telegrijs-4);
--parelmoer-muisgrijs:    rgb(129,123,115); /* RAL 7048 */ --parelmoer-muisgrys: var(--parelmoer-muisgrijs); --parelmoer-muisgrÿs: var(--parelmoer-muisgrijs);
--groenbruin:             rgb(137,105, 62); /* RAL 8000 */
--okerbruin:              rgb(157, 98, 43); /* RAL 8001 */
--signaalbruin:           rgb(121, 77, 62); /* RAL 8002 */
--leembruin:              rgb(126, 75, 38); /* RAL 8003 */
--koperbruin:             rgb(141, 73, 49); /* RAL 8004 */
--reebruin:               rgb(112, 69, 42); /* RAL 8007 */
--olijfbruin:             rgb(114, 74, 37); /* RAL 8008 */ --olyfbruin: var(--olijfbruin); --olÿfbruin: var(--olijfbruin);
--notenbruin:             rgb( 90, 56, 38); /* RAL 8011 */
--roodbruin:              rgb(102, 51, 43); /* RAL 8012 */
--sepiabruin:             rgb( 74, 53, 38); /* RAL 8014 */
--kastanjebruin:          rgb( 94, 47, 38); /* RAL 8015 */
--mahoniebruin:           rgb( 76, 43, 32); /* RAL 8016 */
--chocoladebruin:         rgb( 68, 47, 41); /* RAL 8017 */
--grijsbruin:             rgb( 61, 54, 53); /* RAL 8019 */ --grysbruin: var(--grijsbruin); --grÿsbruin: var(--grijsbruin);
--zwartbruin:             rgb( 26, 23, 24); /* RAL 8022 */
--oranjebruin:            rgb(164, 87, 41); /* RAL 8023 */
--beigebruin:             rgb(121, 80, 56); /* RAL 8024 */
--bleekbruin:             rgb(117, 88, 71); /* RAL 8025 */
--terrabruin:             rgb( 81, 58, 42); /* RAL 8028 */
--parelmoer-koper:        rgb(127, 64, 49); /* RAL 8029 */
--cremewit:               rgb(233,224,210); /* RAL 9001 */ --crèmewit: var(--cremewit)
--grijswit:               rgb(215,213,203); /* RAL 9002 */ --gryswit: var(--grijswit); --grÿswit: var(--grijswit);
--signaalwit:             rgb(236,236,231); /* RAL 9003 */
--signaalzwart:           rgb( 43, 43, 44); /* RAL 9004 */
--gitzwart:               rgb( 14, 14, 16); /* RAL 9005 */
--blank-aluminiumkleurig: rgb(161,161,160); /* RAL 9006 */
--grijs-aluminiumkleurig: rgb(135,133,129); /* RAL 9007 */ --grys-aluminiumkleurig: var(--grijs-aluminiumkleurig); --grÿs-aluminiumkleurig: var(--grijs-aluminiumkleurig);
--zuiver-wit:             rgb(241,236,225); /* RAL 9010 */
--grafietzwart:           rgb( 39, 41, 43); /* RAL 9011 */
--verkeerswit:            rgb(241,240,234); /* RAL 9016 */
--verkeerszwart:          rgb( 42, 41, 42); /* RAL 9017 */
--papyruswit:             rgb(200,203,196); /* RAL 9018 */
--parelmoer-lichtgrijs:   rgb(133,133,131); /* RAL 9022 */ --parelmoer-lichtgrys: var(--parelmoer-lichtgrijs); --parelmoer-lichtgrÿs: var(--parelmoer-lichtgrijs);
--parelmoer-donkergrijs:  rgb(121,123,122); /* RAL 9023 */ --parelmoer-donkergrys: var(--parelmoer-donkergrijs); --parelmoer-donkergrÿs: var(--parelmoer-donkergrijs);
}
