/** RAL Classic */
/** CSS variable name from numeric-ID */
:root {
--ral-1000: rgb(205,186,136);
--ral-1001: rgb(208,176,132);
--ral-1002: rgb(210,170,109);
--ral-1003: rgb(249,168,  0);
--ral-1004: rgb(228,158,  0);
--ral-1005: rgb(203,142,  0);
--ral-1006: rgb(226,144,  0);
--ral-1007: rgb(232,140,  0);
--ral-1011: rgb(175,128, 79);
--ral-1012: rgb(221,175, 39);
--ral-1013: rgb(227,217,198);
--ral-1014: rgb(221,196,154);
--ral-1015: rgb(230,210,181);
--ral-1016: rgb(241,221, 56);
--ral-1017: rgb(246,169, 80);
--ral-1018: rgb(250,202, 48);
--ral-1019: rgb(164,143,122);
--ral-1020: rgb(160,143,101);
--ral-1021: rgb(246,182,  0);
--ral-1023: rgb(247,181,  0);
--ral-1024: rgb(186,143, 76);
--ral-1026: rgb(255,255,  0);
--ral-1027: rgb(167,127, 14);
--ral-1028: rgb(255,155,  0);
--ral-1032: rgb(226,163,  0);
--ral-1033: rgb(249,154, 28);
--ral-1034: rgb(235,156, 82);
--ral-1035: rgb(144,131,112);
--ral-1036: rgb(128,100, 63);
--ral-1037: rgb(240,146,  0);
--ral-2000: rgb(218,110,  0);
--ral-2001: rgb(186, 72, 27);
--ral-2002: rgb(191, 57, 34);
--ral-2003: rgb(246,120, 40);
--ral-2004: rgb(226, 83,  3);
--ral-2005: rgb(255, 77,  6);
--ral-2007: rgb(255,178,  0);
--ral-2008: rgb(237,107, 33);
--ral-2009: rgb(222, 83,  7);
--ral-2010: rgb(208, 93, 40);
--ral-2011: rgb(226,110, 14);
--ral-2012: rgb(213,101, 77);
--ral-2013: rgb(146, 62, 37);
--ral-3000: rgb(167, 41, 32);
--ral-3001: rgb(155, 36, 35);
--ral-3002: rgb(155, 35, 33);
--ral-3003: rgb(134, 26, 34);
--ral-3004: rgb(107, 28, 35);
--ral-3005: rgb( 89, 25, 31);
--ral-3007: rgb( 62, 32, 34);
--ral-3009: rgb(109, 52, 45);
--ral-3011: rgb(121, 36, 35);
--ral-3012: rgb(198,132,109);
--ral-3013: rgb(151, 46, 37);
--ral-3014: rgb(203,115,117);
--ral-3015: rgb(216,160,166);
--ral-3016: rgb(166, 61, 47);
--ral-3017: rgb(203, 85, 93);
--ral-3018: rgb(199, 63, 74);
--ral-3020: rgb(187, 30, 16);
--ral-3022: rgb(207,105, 85);
--ral-3024: rgb(255, 45, 33);
--ral-3026: rgb(255, 42, 27);
--ral-3027: rgb(171, 39, 60);
--ral-3028: rgb(204, 44, 36);
--ral-3031: rgb(166, 52, 55);
--ral-3032: rgb(112, 29, 35);
--ral-3033: rgb(165, 58, 45);
--ral-4001: rgb(129, 97,131);
--ral-4002: rgb(141, 60, 75);
--ral-4003: rgb(196, 97,140);
--ral-4004: rgb(101, 30, 56);
--ral-4005: rgb(118,104,154);
--ral-4006: rgb(144, 51,115);
--ral-4007: rgb( 71, 36, 60);
--ral-4008: rgb(132, 76,130);
--ral-4009: rgb(157,134,146);
--ral-4010: rgb(188, 64,119);
--ral-4011: rgb(110, 99,135);
--ral-4012: rgb(107,107,127);
--ral-5000: rgb( 49, 79,111);
--ral-5001: rgb( 15, 76,100);
--ral-5002: rgb(  0, 56,123);
--ral-5003: rgb( 31, 56, 85);
--ral-5004: rgb( 25, 30, 40);
--ral-5005: rgb(  0, 83,135);
--ral-5007: rgb( 55,107,140);
--ral-5008: rgb( 43, 58, 68);
--ral-5009: rgb( 34, 95,120);
--ral-5010: rgb(  0, 79,124);
--ral-5011: rgb( 26, 43, 60);
--ral-5012: rgb(  0,137,182);
--ral-5013: rgb( 25, 49, 83);
--ral-5014: rgb( 99,125,150);
--ral-5015: rgb(  0,124,176);
--ral-5017: rgb(  0, 91,140);
--ral-5018: rgb(  5,139,140);
--ral-5019: rgb(  0, 94,131);
--ral-5020: rgb(  0, 65, 75);
--ral-5021: rgb(  0,117,119);
--ral-5022: rgb( 34, 45, 90);
--ral-5023: rgb( 66,105,140);
--ral-5024: rgb( 96,147,172);
--ral-5025: rgb( 33,105,124);
--ral-5026: rgb( 15, 48, 82);
--ral-6000: rgb( 60,116, 96);
--ral-6001: rgb( 54,103, 53);
--ral-6002: rgb( 50, 89, 40);
--ral-6003: rgb( 80, 83, 60);
--ral-6004: rgb(  2, 68, 66);
--ral-6005: rgb( 17, 66, 50);
--ral-6006: rgb( 60, 57, 46);
--ral-6007: rgb( 44, 50, 34);
--ral-6008: rgb( 55, 52, 42);
--ral-6009: rgb( 39, 53, 42);
--ral-6010: rgb( 77,111, 57);
--ral-6011: rgb(108,124, 89);
--ral-6012: rgb( 48, 61, 58);
--ral-6013: rgb(125,118, 90);
--ral-6014: rgb( 71, 65, 53);
--ral-6015: rgb( 61, 61, 54);
--ral-6016: rgb(  0,105, 76);
--ral-6017: rgb( 88,127, 64);
--ral-6018: rgb( 97,153, 59);
--ral-6019: rgb(185,206,172);
--ral-6020: rgb( 55, 66, 47);
--ral-6021: rgb(138,153,119);
--ral-6022: rgb( 58, 51, 39);
--ral-6024: rgb(  0,131, 81);
--ral-6025: rgb( 94,110, 59);
--ral-6026: rgb(  0, 95, 78);
--ral-6027: rgb(126,186,181);
--ral-6028: rgb( 49, 84, 66);
--ral-6029: rgb(  0,111, 61);
--ral-6032: rgb( 35,127, 82);
--ral-6033: rgb( 70,135,127);
--ral-6034: rgb(122,172,172);
--ral-6035: rgb( 25, 77, 37);
--ral-6036: rgb(  4, 87, 75);
--ral-6037: rgb(  0,139, 41);
--ral-6038: rgb(  0,181, 26);
--ral-7000: rgb(122,136,142);
--ral-7001: rgb(140,150,157);
--ral-7002: rgb(129,120, 99);
--ral-7003: rgb(122,118,105);
--ral-7004: rgb(155,155,155);
--ral-7005: rgb(108,110,107);
--ral-7006: rgb(118,106, 94);
--ral-7008: rgb(116, 94, 61);
--ral-7009: rgb( 93, 96, 88);
--ral-7010: rgb( 88, 92, 86);
--ral-7011: rgb( 82, 89, 93);
--ral-7012: rgb( 87, 93, 94);
--ral-7013: rgb( 87, 80, 68);
--ral-7015: rgb( 79, 83, 88);
--ral-7016: rgb( 56, 62, 66);
--ral-7021: rgb( 47, 50, 52);
--ral-7022: rgb( 76, 74, 68);
--ral-7023: rgb(128,128,118);
--ral-7024: rgb( 69, 73, 78);
--ral-7026: rgb( 55, 67, 69);
--ral-7030: rgb(146,142,133);
--ral-7031: rgb( 91,104,109);
--ral-7032: rgb(181,176,161);
--ral-7033: rgb(127,130,116);
--ral-7034: rgb(146,136,111);
--ral-7035: rgb(197,199,196);
--ral-7036: rgb(151,147,146);
--ral-7037: rgb(122,123,122);
--ral-7038: rgb(176,176,169);
--ral-7039: rgb(107,102, 94);
--ral-7040: rgb(152,158,161);
--ral-7042: rgb(142,146,145);
--ral-7043: rgb( 79, 82, 80);
--ral-7044: rgb(183,179,168);
--ral-7045: rgb(141,146,149);
--ral-7046: rgb(127,134,138);
--ral-7047: rgb(200,200,199);
--ral-7048: rgb(129,123,115);
--ral-8000: rgb(137,105, 62);
--ral-8001: rgb(157, 98, 43);
--ral-8002: rgb(121, 77, 62);
--ral-8003: rgb(126, 75, 38);
--ral-8004: rgb(141, 73, 49);
--ral-8007: rgb(112, 69, 42);
--ral-8008: rgb(114, 74, 37);
--ral-8011: rgb( 90, 56, 38);
--ral-8012: rgb(102, 51, 43);
--ral-8014: rgb( 74, 53, 38);
--ral-8015: rgb( 94, 47, 38);
--ral-8016: rgb( 76, 43, 32);
--ral-8017: rgb( 68, 47, 41);
--ral-8019: rgb( 61, 54, 53);
--ral-8022: rgb( 26, 23, 24);
--ral-8023: rgb(164, 87, 41);
--ral-8024: rgb(121, 80, 56);
--ral-8025: rgb(117, 88, 71);
--ral-8028: rgb( 81, 58, 42);
--ral-8029: rgb(127, 64, 49);
--ral-9001: rgb(233,224,210);
--ral-9002: rgb(215,213,203);
--ral-9003: rgb(236,236,231);
--ral-9004: rgb( 43, 43, 44);
--ral-9005: rgb( 14, 14, 16);
--ral-9006: rgb(161,161,160);
--ral-9007: rgb(135,133,129);
--ral-9010: rgb(241,236,225);
--ral-9011: rgb( 39, 41, 43);
--ral-9016: rgb(241,240,234);
--ral-9017: rgb( 42, 41, 42);
--ral-9018: rgb(200,203,196);
--ral-9022: rgb(133,133,131);
--ral-9023: rgb(121,123,122);
}
