/** RAL Classic EN */
/** CSS variable name from official English name */

:root{
--green-beige:            rgb(205,186,136); /* RAL 1000 */
--beige:                  rgb(208,176,132); /* RAL 1001 */
--sand-yellow:            rgb(210,170,109); /* RAL 1002 */
--signal-yellow:          rgb(249,168,  0); /* RAL 1003 */
--golden-yellow:          rgb(228,158,  0); /* RAL 1004 */
--honey-yellow:           rgb(203,142,  0); /* RAL 1005 */
--maize-yellow:           rgb(226,144,  0); /* RAL 1006 */
--daffodil-yellow:        rgb(232,140,  0); /* RAL 1007 */
--brown-beige:            rgb(175,128, 79); /* RAL 1011 */
--lemon-yellow:           rgb(221,175, 39); /* RAL 1012 */
--oyster-white:           rgb(227,217,198); /* RAL 1013 */
--ivory:                  rgb(221,196,154); /* RAL 1014 */
--light-ivory:            rgb(230,210,181); /* RAL 1015 */
--sulfur-yellow:          rgb(241,221, 56); /* RAL 1016 */
--saffron-yellow:         rgb(246,169, 80); /* RAL 1017 */
--zinc-yellow:            rgb(250,202, 48); /* RAL 1018 */
--grey-beige:             rgb(164,143,122); /* RAL 1019 */ --gray-beige: var(--grey-beige);
--olive-yellow:           rgb(160,143,101); /* RAL 1020 */
--colza-yellow:           rgb(246,182,  0); /* RAL 1021 */
--traffic-yellow:         rgb(247,181,  0); /* RAL 1023 */
--ochre-yellow:           rgb(186,143, 76); /* RAL 1024 */
--luminous-yellow:        rgb(255,255,  0); /* RAL 1026 */
--curry:                  rgb(167,127, 14); /* RAL 1027 */
--melon-yellow:           rgb(255,155,  0); /* RAL 1028 */
--broom-yellow:           rgb(226,163,  0); /* RAL 1032 */
--dahlia-yellow:          rgb(249,154, 28); /* RAL 1033 */
--pastel-yellow:          rgb(235,156, 82); /* RAL 1034 */
--pearl-beige:            rgb(144,131,112); /* RAL 1035 */
--pearl-gold:             rgb(128,100, 63); /* RAL 1036 */
--sun-yellow:             rgb(240,146,  0); /* RAL 1037 */
--yellow-orange:          rgb(218,110,  0); /* RAL 2000 */
--red-orange:             rgb(186, 72, 27); /* RAL 2001 */
--vermilion:              rgb(191, 57, 34); /* RAL 2002 */
--pastel-orange:          rgb(246,120, 40); /* RAL 2003 */
--pure-orange:            rgb(226, 83,  3); /* RAL 2004 */
--luminous-orange:        rgb(255, 77,  6); /* RAL 2005 */
--luminous-bright-orange: rgb(255,178,  0); /* RAL 2007 */
--bright-red-orange:      rgb(237,107, 33); /* RAL 2008 */
--traffic-orange:         rgb(222, 83,  7); /* RAL 2009 */
--signal-orange:          rgb(208, 93, 40); /* RAL 2010 */
--deep-orange:            rgb(226,110, 14); /* RAL 2011 */
--salmon-orange:          rgb(213,101, 77); /* RAL 2012 */
--pearl-orange:           rgb(146, 62, 37); /* RAL 2013 */
--flame-red:              rgb(167, 41, 32); /* RAL 3000 */
--signal-red:             rgb(155, 36, 35); /* RAL 3001 */
--carmine-red:            rgb(155, 35, 33); /* RAL 3002 */
--ruby-red:               rgb(134, 26, 34); /* RAL 3003 */
--purple-red:             rgb(107, 28, 35); /* RAL 3004 */
--wine-red:               rgb( 89, 25, 31); /* RAL 3005 */
--black-red:              rgb( 62, 32, 34); /* RAL 3007 */
--oxide-red:              rgb(109, 52, 45); /* RAL 3009 */
--brown-red:              rgb(121, 36, 35); /* RAL 3011 */
--beige-red:              rgb(198,132,109); /* RAL 3012 */
--tomato-red:             rgb(151, 46, 37); /* RAL 3013 */
--antique-pink:           rgb(203,115,117); /* RAL 3014 */
--light-pink:             rgb(216,160,166); /* RAL 3015 */
--coral-red:              rgb(166, 61, 47); /* RAL 3016 */
--rose:                   rgb(203, 85, 93); /* RAL 3017 */
--strawberry-red:         rgb(199, 63, 74); /* RAL 3018 */
--traffic-red:            rgb(187, 30, 16); /* RAL 3020 */
--salmon-pink:            rgb(207,105, 85); /* RAL 3022 */
--luminous-red:           rgb(255, 45, 33); /* RAL 3024 */
--luminous-bright-red:    rgb(255, 42, 27); /* RAL 3026 */
--raspberry-red:          rgb(171, 39, 60); /* RAL 3027 */
--pure-red:               rgb(204, 44, 36); /* RAL 3028 */
--orient-red:             rgb(166, 52, 55); /* RAL 3031 */
--pearl-ruby-red:         rgb(112, 29, 35); /* RAL 3032 */
--pearl-pink:             rgb(165, 58, 45); /* RAL 3033 */
--red-lilac:              rgb(129, 97,131); /* RAL 4001 */
--red-violet:             rgb(141, 60, 75); /* RAL 4002 */
--heather-violet:         rgb(196, 97,140); /* RAL 4003 */
--claret-violet:          rgb(101, 30, 56); /* RAL 4004 */
--blue-lilac:             rgb(118,104,154); /* RAL 4005 */
--traffic-purple:         rgb(144, 51,115); /* RAL 4006 */
--purple-violet:          rgb( 71, 36, 60); /* RAL 4007 */
--signal-violet:          rgb(132, 76,130); /* RAL 4008 */
--pastel-violet:          rgb(157,134,146); /* RAL 4009 */
--telemagenta:            rgb(188, 64,119); /* RAL 4010 */
--pearl-violet:           rgb(110, 99,135); /* RAL 4011 */
--pearl-blackberry:       rgb(107,107,127); /* RAL 4012 */
--violet-blue:            rgb( 49, 79,111); /* RAL 5000 */
--green-blue:             rgb( 15, 76,100); /* RAL 5001 */
--ultramarine-blue:       rgb(  0, 56,123); /* RAL 5002 */
--sapphire-blue:          rgb( 31, 56, 85); /* RAL 5003 */
--black-blue:             rgb( 25, 30, 40); /* RAL 5004 */
--signal-blue:            rgb(  0, 83,135); /* RAL 5005 */
--brilliant-blue:         rgb( 55,107,140); /* RAL 5007 */
--grey-blue:              rgb( 43, 58, 68); /* RAL 5008 */ --gray-blue: var(--grey-blue);
--azure-blue:             rgb( 34, 95,120); /* RAL 5009 */
--gentian-blue:           rgb(  0, 79,124); /* RAL 5010 */
--steel-blue:             rgb( 26, 43, 60); /* RAL 5011 */
--light-blue:             rgb(  0,137,182); /* RAL 5012 */
--cobalt-blue:            rgb( 25, 49, 83); /* RAL 5013 */
--pigeon-blue:            rgb( 99,125,150); /* RAL 5014 */
--sky-blue:               rgb(  0,124,176); /* RAL 5015 */
--traffic-blue:           rgb(  0, 91,140); /* RAL 5017 */
--turquoise-blue:         rgb(  5,139,140); /* RAL 5018 */
--capri-blue:             rgb(  0, 94,131); /* RAL 5019 */
--ocean-blue:             rgb(  0, 65, 75); /* RAL 5020 */
--water-blue:             rgb(  0,117,119); /* RAL 5021 */
--night-blue:             rgb( 34, 45, 90); /* RAL 5022 */
--distant-blue:           rgb( 66,105,140); /* RAL 5023 */
--pastel-blue:            rgb( 96,147,172); /* RAL 5024 */
--pearl-gentian-blue:     rgb( 33,105,124); /* RAL 5025 */
--pearl-night-blue:       rgb( 15, 48, 82); /* RAL 5026 */
--patina-green:           rgb( 60,116, 96); /* RAL 6000 */
--emerald-green:          rgb( 54,103, 53); /* RAL 6001 */
--leaf-green:             rgb( 50, 89, 40); /* RAL 6002 */
--olive-green:            rgb( 80, 83, 60); /* RAL 6003 */
--blue-green:             rgb(  2, 68, 66); /* RAL 6004 */
--moss-green:             rgb( 17, 66, 50); /* RAL 6005 */
--grey-olive:             rgb( 60, 57, 46); /* RAL 6006 */ --gray-olive: var(--grey-olive);
--bottle-green:           rgb( 44, 50, 34); /* RAL 6007 */
--brown-green:            rgb( 55, 52, 42); /* RAL 6008 */
--fir-green:              rgb( 39, 53, 42); /* RAL 6009 */
--grass-green:            rgb( 77,111, 57); /* RAL 6010 */
--reseda-green:           rgb(108,124, 89); /* RAL 6011 */
--black-green:            rgb( 48, 61, 58); /* RAL 6012 */
--reed-green:             rgb(125,118, 90); /* RAL 6013 */
--yellow-olive:           rgb( 71, 65, 53); /* RAL 6014 */
--black-olive:            rgb( 61, 61, 54); /* RAL 6015 */
--turquoise-green:        rgb(  0,105, 76); /* RAL 6016 */
--may-green:              rgb( 88,127, 64); /* RAL 6017 */
--yellow-green:           rgb( 97,153, 59); /* RAL 6018 */
--pastel-green:           rgb(185,206,172); /* RAL 6019 */
--chrome-green:           rgb( 55, 66, 47); /* RAL 6020 */
--pale-green:             rgb(138,153,119); /* RAL 6021 */
--olive-drab:             rgb( 58, 51, 39); /* RAL 6022 */
--traffic-green:          rgb(  0,131, 81); /* RAL 6024 */
--fern-green:             rgb( 94,110, 59); /* RAL 6025 */
--opal-green:             rgb(  0, 95, 78); /* RAL 6026 */
--light-green:            rgb(126,186,181); /* RAL 6027 */
--pine-green:             rgb( 49, 84, 66); /* RAL 6028 */
--mint-green:             rgb(  0,111, 61); /* RAL 6029 */
--signal-green:           rgb( 35,127, 82); /* RAL 6032 */
--mint-turquoise:         rgb( 70,135,127); /* RAL 6033 */
--pastel-turquoise:       rgb(122,172,172); /* RAL 6034 */
--pearl-green:            rgb( 25, 77, 37); /* RAL 6035 */
--pearl-opal-green:       rgb(  4, 87, 75); /* RAL 6036 */
--pure-green:             rgb(  0,139, 41); /* RAL 6037 */
--luminous-green:         rgb(  0,181, 26); /* RAL 6038 */
--squirrel-grey:          rgb(122,136,142); /* RAL 7000 */ --squirrel-gray: var(--squirrel-grey);
--silver-grey:            rgb(140,150,157); /* RAL 7001 */ --silver-gray: var(--silver-grey);
--olive-grey:             rgb(129,120, 99); /* RAL 7002 */ --olive-gray: var(--olive-grey);
--moss-grey:              rgb(122,118,105); /* RAL 7003 */ --moss-gray: var(--moss-grey);
--signal-grey:            rgb(155,155,155); /* RAL 7004 */ --signal-gray: var(--signal-grey);
--mouse-grey:             rgb(108,110,107); /* RAL 7005 */ --mouse-gray: var(--mouse-grey);
--beige-grey:             rgb(118,106, 94); /* RAL 7006 */ --beige-gray: var(--beige-grey);
--khaki-grey:             rgb(116, 94, 61); /* RAL 7008 */ --khaki-gray: var(--khaki-grey);
--green-grey:             rgb( 93, 96, 88); /* RAL 7009 */ --green-gray: var(--green-grey);
--tarpaulin-grey:         rgb( 88, 92, 86); /* RAL 7010 */ --tarpaulin-gray: var(--tarpaulin-grey);
--iron-grey:              rgb( 82, 89, 93); /* RAL 7011 */ --iron-gray: var(--iron-grey);
--basalt-grey:            rgb( 87, 93, 94); /* RAL 7012 */ --basalt-gray: var(--basalt-grey);
--brown-grey:             rgb( 87, 80, 68); /* RAL 7013 */ --brown-gray: var(--brown-grey);
--slate-grey:             rgb( 79, 83, 88); /* RAL 7015 */ --slate-gray: var(--slate-grey);
--anthracite-grey:        rgb( 56, 62, 66); /* RAL 7016 */ --anthracite-gray: var(--anthracite-grey);
--black-grey:             rgb( 47, 50, 52); /* RAL 7021 */ --black-gray: var(--black-grey);
--umbra-grey:             rgb( 76, 74, 68); /* RAL 7022 */ --umbra-gray: var(--umbra-grey);
--concrete-grey:          rgb(128,128,118); /* RAL 7023 */ --concrete-gray: var(--concrete-grey);
--graphite-grey:          rgb( 69, 73, 78); /* RAL 7024 */ --graphite-gray: var(--graphite-grey);
--granite-grey:           rgb( 55, 67, 69); /* RAL 7026 */ --granite-gray: var(--granite-grey);
--stone-grey:             rgb(146,142,133); /* RAL 7030 */ --stone-gray: var(--stone-grey);
--blue-grey:              rgb( 91,104,109); /* RAL 7031 */ --blue-gray: var(--blue-grey);
--pebble-grey:            rgb(181,176,161); /* RAL 7032 */ --pebble-gray: var(--pebble-grey);
--cement-grey:            rgb(127,130,116); /* RAL 7033 */ --cement-gray: var(--cement-grey);
--yellow-grey:            rgb(146,136,111); /* RAL 7034 */ --yellow-gray: var(--yellow-grey);
--light-grey:             rgb(197,199,196); /* RAL 7035 */ --light-gray: var(--light-grey);
--platinum-grey:          rgb(151,147,146); /* RAL 7036 */ --platinum-gray: var(--platinum-grey);
--dusty-grey:             rgb(122,123,122); /* RAL 7037 */ --dusty-gray: var(--dusty-grey);
--agate-grey:             rgb(176,176,169); /* RAL 7038 */ --agate-gray: var(--agate-grey);
--quartz-grey:            rgb(107,102, 94); /* RAL 7039 */ --quartz-gray: var(--quartz-grey);
--window-grey:            rgb(152,158,161); /* RAL 7040 */ --window-gray: var(--window-grey);
--traffic-grey-a:         rgb(142,146,145); /* RAL 7042 */ --traffic-gray-a: var(--traffic-grey-a);
--traffic-grey-b:         rgb( 79, 82, 80); /* RAL 7043 */ --traffic-gray-b: var(--traffic-grey-b);
--silk-grey:              rgb(183,179,168); /* RAL 7044 */ --silk-gray: var(--silk-grey);
--telegrey-1:             rgb(141,146,149); /* RAL 7045 */ --telegray-1: var(--telegrey-1);
--telegrey-2:             rgb(127,134,138); /* RAL 7046 */ --telegray-2: var(--telegrey-2);
--telegrey-4:             rgb(200,200,199); /* RAL 7047 */ --telegray-4: var(--telegrey-4);
--pearl-mouse-grey:       rgb(129,123,115); /* RAL 7048 */ --pearl-mouse-gray: var(--pearl-mouse-grey);
--green-brown:            rgb(137,105, 62); /* RAL 8000 */
--ochre-brown:            rgb(157, 98, 43); /* RAL 8001 */
--signal-brown:           rgb(121, 77, 62); /* RAL 8002 */
--clay-brown:             rgb(126, 75, 38); /* RAL 8003 */
--copper-brown:           rgb(141, 73, 49); /* RAL 8004 */
--fawn-brown:             rgb(112, 69, 42); /* RAL 8007 */
--olive-brown:            rgb(114, 74, 37); /* RAL 8008 */
--nut-brown:              rgb( 90, 56, 38); /* RAL 8011 */
--red-brown:              rgb(102, 51, 43); /* RAL 8012 */
--sepia-brown:            rgb( 74, 53, 38); /* RAL 8014 */
--chestnut-brown:         rgb( 94, 47, 38); /* RAL 8015 */
--mahogany-brown:         rgb( 76, 43, 32); /* RAL 8016 */
--chocolate-brown:        rgb( 68, 47, 41); /* RAL 8017 */
--grey-brown:             rgb( 61, 54, 53); /* RAL 8019 */ --gray-brown: var(--grey-brown);
--black-brown:            rgb( 26, 23, 24); /* RAL 8022 */
--orange-brown:           rgb(164, 87, 41); /* RAL 8023 */
--beige-brown:            rgb(121, 80, 56); /* RAL 8024 */
--pale-brown:             rgb(117, 88, 71); /* RAL 8025 */
--terra-brown:            rgb( 81, 58, 42); /* RAL 8028 */
--pearl-copper:           rgb(127, 64, 49); /* RAL 8029 */
--cream:                  rgb(233,224,210); /* RAL 9001 */
--grey-white:             rgb(215,213,203); /* RAL 9002 */ --gray-white: var(--grey-white);
--signal-white:           rgb(236,236,231); /* RAL 9003 */
--signal-black:           rgb( 43, 43, 44); /* RAL 9004 */
--jet-black:              rgb( 14, 14, 16); /* RAL 9005 */
--white-aluminium:        rgb(161,161,160); /* RAL 9006 */
--grey-aluminium:         rgb(135,133,129); /* RAL 9007 */ --gray-aluminium: var(--grey-aluminium);
--pure-white:             rgb(241,236,225); /* RAL 9010 */
--graphite-black:         rgb( 39, 41, 43); /* RAL 9011 */
--traffic-white:          rgb(241,240,234); /* RAL 9016 */
--traffic-black:          rgb( 42, 41, 42); /* RAL 9017 */
--papyrus-white:          rgb(200,203,196); /* RAL 9018 */
--pearl-light-grey:       rgb(133,133,131); /* RAL 9022 */ --pearl-light-gray: var(--pearl-light-grey);
--pearl-dark-grey:        rgb(121,123,122); /* RAL 9023 */ --pearl-dark-gray: var(--pearl-dark-grey);
}
