/** RAL Effect */
/** -M denotes the 70 metallic colors */

:root {
--ral-110-1:	rgb(230,231,230); /* RAL 110-1 */
--ral-110-2:	rgb(222,221,213); /* RAL 110-2 */
--ral-110-3:	rgb(200,198,190); /* RAL 110-3 */
--ral-110-4:	rgb(198,199,196); /* RAL 110-4 */
--ral-110-5:	rgb(201,204,198); /* RAL 110-5 */
--ral-110-6:	rgb(200,200,199); /* RAL 110-6 */
--ral-110-m:	rgb(160,162,164); /* RAL 110-M */
--ral-120-1:	rgb(237,237,234); /* RAL 120-1 */
--ral-120-2:	rgb(242,241,236); /* RAL 120-2 */
--ral-120-3:	rgb(240,238,229); /* RAL 120-3 */
--ral-120-4:	rgb(233,225,212); /* RAL 120-4 */
--ral-120-5:	rgb(226,217,198); /* RAL 120-5 */
--ral-120-6:	rgb(234,225,206); /* RAL 120-6 */
--ral-120-m:	rgb(143,141,135); /* RAL 120-M */
--ral-130-1:	rgb(242,237,187); /* RAL 130-1 */
--ral-130-2:	rgb(241,238,195); /* RAL 130-2 */
--ral-130-3:	rgb(240,238,205); /* RAL 130-3 */
--ral-130-4:	rgb(248,240,207); /* RAL 130-4 */
--ral-130-5:	rgb(237,228,188); /* RAL 130-5 */
--ral-130-6:	rgb(251,229,176); /* RAL 130-6 */
--ral-130-m:	rgb(171,171,144); /* RAL 130-M */
--ral-140-1:	rgb(250,211,169); /* RAL 140-1 */
--ral-140-2:	rgb(254,218,166); /* RAL 140-2 */
--ral-140-3:	rgb(254,227,193); /* RAL 140-3 */
--ral-140-4:	rgb(253,223,190); /* RAL 140-4 */
--ral-140-5:	rgb(248,228,200); /* RAL 140-5 */
--ral-140-6:	rgb(229,210,182); /* RAL 140-6 */
--ral-140-m:	rgb(176,158,126); /* RAL 140-M */
--ral-150-1:	rgb(247,239,233); /* RAL 150-1 */
--ral-150-2:	rgb(249,235,227); /* RAL 150-2 */
--ral-150-3:	rgb(238,225,215); /* RAL 150-3 */
--ral-150-4:	rgb(251,227,212); /* RAL 150-4 */
--ral-150-5:	rgb(250,232,220); /* RAL 150-5 */
--ral-150-6:	rgb(248,223,215); /* RAL 150-6 */
--ral-150-m:	rgb(171,151,138); /* RAL 150-M */
--ral-160-1:	rgb(227,225,236); /* RAL 160-1 */
--ral-160-2:	rgb(231,226,232); /* RAL 160-2 */
--ral-160-3:	rgb(237,232,232); /* RAL 160-3 */
--ral-160-4:	rgb(238,225,226); /* RAL 160-4 */
--ral-160-5:	rgb(239,228,224); /* RAL 160-5 */
--ral-160-6:	rgb(236,228,233); /* RAL 160-6 */
--ral-160-m:	rgb(173,166,181); /* RAL 160-M */
--ral-170-1:	rgb(199,201,208); /* RAL 170-1 */
--ral-170-2:	rgb(166,173,189); /* RAL 170-2 */
--ral-170-3:	rgb(186,200,218); /* RAL 170-3 */
--ral-170-4:	rgb(206,219,236); /* RAL 170-4 */
--ral-170-5:	rgb(195,198,214); /* RAL 170-5 */
--ral-170-6:	rgb(198,197,214); /* RAL 170-6 */
--ral-170-m:	rgb(167,168,185); /* RAL 170-M */
--ral-180-1:	rgb(174,188,198); /* RAL 180-1 */
--ral-180-2:	rgb(185,205,221); /* RAL 180-2 */
--ral-180-3:	rgb(199,219,235); /* RAL 180-3 */
--ral-180-4:	rgb(201,225,236); /* RAL 180-4 */
--ral-180-5:	rgb(199,221,225); /* RAL 180-5 */
--ral-180-6:	rgb(219,233,235); /* RAL 180-6 */
--ral-180-m:	rgb(150,164,169); /* RAL 180-M */
--ral-190-1:	rgb(165,218,223); /* RAL 190-1 */
--ral-190-2:	rgb(185,230,242); /* RAL 190-2 */
--ral-190-3:	rgb(192,222,225); /* RAL 190-3 */
--ral-190-4:	rgb(189,218,215); /* RAL 190-4 */
--ral-190-5:	rgb(212,229,231); /* RAL 190-5 */
--ral-190-6:	rgb(163,193,191); /* RAL 190-6 */
--ral-190-m:	rgb(146,180,178); /* RAL 190-M */
--ral-210-1:	rgb(207,198,178); /* RAL 210-1 */
--ral-210-2:	rgb(236,231,210); /* RAL 210-2 */
--ral-210-3:	rgb(227,228,217); /* RAL 210-3 */
--ral-210-4:	rgb(214,230,227); /* RAL 210-4 */
--ral-210-5:	rgb(216,232,224); /* RAL 210-5 */
--ral-210-6:	rgb(216,233,214); /* RAL 210-6 */
--ral-210-m:	rgb(165,169,155); /* RAL 210-M */
--ral-220-1:	rgb(102,184,114); /* RAL 220-1 */
--ral-220-2:	rgb( 51,154, 81); /* RAL 220-2 */
--ral-220-3:	rgb(  0,111, 60); /* RAL 220-3 */
--ral-220-4:	rgb(  8,133, 84); /* RAL 220-4 */
--ral-220-5:	rgb( 38,126, 81); /* RAL 220-5 */
--ral-220-6:	rgb(  0,106, 77); /* RAL 220-6 */
--ral-220-m:	rgb(  0,127, 62); /* RAL 220-M */
--ral-230-1:	rgb(187,219,154); /* RAL 230-1 */
--ral-230-2:	rgb(150,200,108); /* RAL 230-2 */
--ral-230-3:	rgb(125,179, 68); /* RAL 230-3 */
--ral-230-4:	rgb( 95,151, 58); /* RAL 230-4 */
--ral-230-5:	rgb( 57,105, 56); /* RAL 230-5 */
--ral-230-6:	rgb( 54, 92, 48); /* RAL 230-6 */
--ral-230-m:	rgb( 98,167, 78); /* RAL 230-M */
--ral-240-1:	rgb(220,214,145); /* RAL 240-1 */
--ral-240-2:	rgb(170,175,102); /* RAL 240-2 */
--ral-240-3:	rgb(147,151, 85); /* RAL 240-3 */
--ral-240-4:	rgb(126,126, 66); /* RAL 240-4 */
--ral-240-5:	rgb( 93,109, 60); /* RAL 240-5 */
--ral-240-6:	rgb( 79,109, 53); /* RAL 240-6 */
--ral-240-m:	rgb( 98,116, 57); /* RAL 240-M */
--ral-250-1:	rgb(238,230,165); /* RAL 250-1 */
--ral-250-2:	rgb(232,222,111); /* RAL 250-2 */
--ral-250-3:	rgb(191,183,  0); /* RAL 250-3 */
--ral-250-4:	rgb(164,165, 65); /* RAL 250-4 */
--ral-250-5:	rgb(145,145, 56); /* RAL 250-5 */
--ral-250-6:	rgb(105,101, 44); /* RAL 250-6 */
--ral-250-m:	rgb(174,167, 59); /* RAL 250-M */
--ral-260-1:	rgb(243,233,180); /* RAL 260-1 */
--ral-260-2:	rgb(241,228,131); /* RAL 260-2 */
--ral-260-3:	rgb(243,212, 70); /* RAL 260-3 */
--ral-260-4:	rgb(232,192, 31); /* RAL 260-4 */
--ral-260-5:	rgb(222,176, 45); /* RAL 260-5 */
--ral-260-6:	rgb(239,180, 22); /* RAL 260-6 */
--ral-260-m:	rgb(184,148, 79); /* RAL 260-M */
--ral-270-1:	rgb(255,222,131); /* RAL 270-1 */
--ral-270-2:	rgb(250,204, 57); /* RAL 270-2 */
--ral-270-3:	rgb(244,189, 22); /* RAL 270-3 */
--ral-270-4:	rgb(235,177,  0); /* RAL 270-4 */
--ral-270-5:	rgb(246,182,  0); /* RAL 270-5 */
--ral-270-6:	rgb(254,196, 63); /* RAL 270-6 */
--ral-270-m:	rgb(203,148, 55); /* RAL 270-M */
--ral-280-1:	rgb(253,225,147); /* RAL 280-1 */
--ral-280-2:	rgb(240,211,145); /* RAL 280-2 */
--ral-280-3:	rgb(225,190,120); /* RAL 280-3 */
--ral-280-4:	rgb(214,174, 95); /* RAL 280-4 */
--ral-280-5:	rgb(220,161, 64); /* RAL 280-5 */
--ral-280-6:	rgb(208,151, 60); /* RAL 280-6 */
--ral-280-m:	rgb(178,135, 64); /* RAL 280-M */
--ral-290-1:	rgb(216,155, 80); /* RAL 290-1 */
--ral-290-2:	rgb(191,133, 59); /* RAL 290-2 */
--ral-290-3:	rgb(216,169, 96); /* RAL 290-3 */
--ral-290-4:	rgb(204,146, 27); /* RAL 290-4 */
--ral-290-5:	rgb(230,176, 62); /* RAL 290-5 */
--ral-290-6:	rgb(252,171,  4); /* RAL 290-6 */
--ral-290-m:	rgb(184,126, 50); /* RAL 290-M */
--ral-310-1:	rgb(245,214,180); /* RAL 310-1 */
--ral-310-2:	rgb(235,194,151); /* RAL 310-2 */
--ral-310-3:	rgb(223,171,115); /* RAL 310-3 */
--ral-310-4:	rgb(208,147, 85); /* RAL 310-4 */
--ral-310-5:	rgb(186,124, 67); /* RAL 310-5 */
--ral-310-6:	rgb(142, 91, 45); /* RAL 310-6 */
--ral-310-m:	rgb(184,125, 79); /* RAL 310-M */
--ral-320-1:	rgb(210,169,108); /* RAL 320-1 */
--ral-320-2:	rgb(174,129, 81); /* RAL 320-2 */
--ral-320-3:	rgb(185,134, 76); /* RAL 320-3 */
--ral-320-4:	rgb(160,103, 53); /* RAL 320-4 */
--ral-320-5:	rgb(127, 78, 46); /* RAL 320-5 */
--ral-320-6:	rgb(110, 68, 40); /* RAL 320-6 */
--ral-320-m:	rgb(185,115, 30); /* RAL 320-M */
--ral-330-1:	rgb(168,104, 89); /* RAL 330-1 */
--ral-330-2:	rgb(142, 75, 53); /* RAL 330-2 */
--ral-330-3:	rgb(121, 78, 62); /* RAL 330-3 */
--ral-330-4:	rgb( 92, 59, 45); /* RAL 330-4 */
--ral-330-5:	rgb( 80, 49, 42); /* RAL 330-5 */
--ral-330-6:	rgb( 70, 50, 46); /* RAL 330-6 */
--ral-330-m:	rgb(139, 89, 67); /* RAL 330-M */
--ral-340-1:	rgb(190,164,169); /* RAL 340-1 */
--ral-340-2:	rgb(164,140,146); /* RAL 340-2 */
--ral-340-3:	rgb(127, 84, 82); /* RAL 340-3 */
--ral-340-4:	rgb(104, 61, 64); /* RAL 340-4 */
--ral-340-5:	rgb( 79, 42, 45); /* RAL 340-5 */
--ral-340-6:	rgb( 79, 43, 49); /* RAL 340-6 */
--ral-340-m:	rgb( 83, 53, 59); /* RAL 340-M */
--ral-350-1:	rgb(157, 49, 31); /* RAL 350-1 */
--ral-350-2:	rgb(167, 63, 50); /* RAL 350-2 */
--ral-350-3:	rgb(162, 71, 51); /* RAL 350-3 */
--ral-350-4:	rgb(129, 48, 33); /* RAL 350-4 */
--ral-350-5:	rgb(120, 49, 34); /* RAL 350-5 */
--ral-350-6:	rgb(102, 50, 43); /* RAL 350-6 */
--ral-350-m:	rgb( 88, 47, 42); /* RAL 350-M */
--ral-360-1:	rgb(224,125, 41); /* RAL 360-1 */
--ral-360-2:	rgb(217,117, 30); /* RAL 360-2 */
--ral-360-3:	rgb(198, 98, 23); /* RAL 360-3 */
--ral-360-4:	rgb(183, 86, 41); /* RAL 360-4 */
--ral-360-5:	rgb(154, 79, 44); /* RAL 360-5 */
--ral-360-6:	rgb(145, 80, 51); /* RAL 360-6 */
--ral-360-m:	rgb(164, 86, 51); /* RAL 360-M */
--ral-370-1:	rgb(255,174, 71); /* RAL 370-1 */
--ral-370-2:	rgb(255,155, 56); /* RAL 370-2 */
--ral-370-3:	rgb(255,144, 29); /* RAL 370-3 */
--ral-370-4:	rgb(230,131, 22); /* RAL 370-4 */
--ral-370-5:	rgb(212,120, 31); /* RAL 370-5 */
--ral-370-6:	rgb(205,108, 16); /* RAL 370-6 */
--ral-370-m:	rgb(180,122, 60); /* RAL 370-M */
--ral-380-1:	rgb(255,155, 41); /* RAL 380-1 */
--ral-380-2:	rgb(255,146,  4); /* RAL 380-2 */
--ral-380-3:	rgb(250,132, 26); /* RAL 380-3 */
--ral-380-4:	rgb(226,113, 33); /* RAL 380-4 */
--ral-380-5:	rgb(242,120, 47); /* RAL 380-5 */
--ral-380-6:	rgb(234,106, 36); /* RAL 380-6 */
--ral-380-m:	rgb(167, 85, 42); /* RAL 380-M */
--ral-390-1:	rgb(235,119, 63); /* RAL 390-1 */
--ral-390-2:	rgb(227, 97, 37); /* RAL 390-2 */
--ral-390-3:	rgb(222, 84, 17); /* RAL 390-3 */
--ral-390-4:	rgb(216, 81, 28); /* RAL 390-4 */
--ral-390-5:	rgb(216, 72, 15); /* RAL 390-5 */
--ral-390-6:	rgb(205, 94, 42); /* RAL 390-6 */
--ral-390-m:	rgb(191, 99, 59); /* RAL 390-M */
--ral-410-1:	rgb(237,129,101); /* RAL 410-1 */
--ral-410-2:	rgb(234,115, 79); /* RAL 410-2 */
--ral-410-3:	rgb(228,100, 64); /* RAL 410-3 */
--ral-410-4:	rgb(220, 93, 56); /* RAL 410-4 */
--ral-410-5:	rgb(210, 85, 53); /* RAL 410-5 */
--ral-410-6:	rgb(208, 93, 66); /* RAL 410-6 */
--ral-410-m:	rgb(171, 73, 36); /* RAL 410-M */
--ral-420-1:	rgb(237,174,154); /* RAL 420-1 */
--ral-420-2:	rgb(242,157,134); /* RAL 420-2 */
--ral-420-3:	rgb(233,138,108); /* RAL 420-3 */
--ral-420-4:	rgb(228,100, 67); /* RAL 420-4 */
--ral-420-5:	rgb(204, 87, 56); /* RAL 420-5 */
--ral-420-6:	rgb(191, 80, 46); /* RAL 420-6 */
--ral-420-m:	rgb(157, 75, 50); /* RAL 420-M */
--ral-430-1:	rgb(242,194,182); /* RAL 430-1 */
--ral-430-2:	rgb(236,153,139); /* RAL 430-2 */
--ral-430-3:	rgb(228,128,116); /* RAL 430-3 */
--ral-430-4:	rgb(221, 90, 76); /* RAL 430-4 */
--ral-430-5:	rgb(213, 67, 60); /* RAL 430-5 */
--ral-430-6:	rgb(190, 58, 36); /* RAL 430-6 */
--ral-430-m:	rgb(168, 76, 69); /* RAL 430-M */
--ral-440-1:	rgb(202, 56, 60); /* RAL 440-1 */
--ral-440-2:	rgb(211, 76, 73); /* RAL 440-2 */
--ral-440-3:	rgb(186, 60, 62); /* RAL 440-3 */
--ral-440-4:	rgb(155, 41, 41); /* RAL 440-4 */
--ral-440-5:	rgb(166, 49, 41); /* RAL 440-5 */
--ral-440-6:	rgb(185, 53, 37); /* RAL 440-6 */
--ral-440-m:	rgb(155, 37, 44); /* RAL 440-M */
--ral-450-1:	rgb(244,199,202); /* RAL 450-1 */
--ral-450-2:	rgb(237,165,170); /* RAL 450-2 */
--ral-450-3:	rgb(224,122,129); /* RAL 450-3 */
--ral-450-4:	rgb(200, 88, 98); /* RAL 450-4 */
--ral-450-5:	rgb(178, 49, 47); /* RAL 450-5 */
--ral-450-6:	rgb(187, 32, 29); /* RAL 450-6 */
--ral-450-m:	rgb(167, 22, 22); /* RAL 450-M */
--ral-460-1:	rgb(239,163,167); /* RAL 460-1 */
--ral-460-2:	rgb(227,127,137); /* RAL 460-2 */
--ral-460-3:	rgb(223, 99,104); /* RAL 460-3 */
--ral-460-4:	rgb(211, 82, 84); /* RAL 460-4 */
--ral-460-5:	rgb(168, 55, 59); /* RAL 460-5 */
--ral-460-6:	rgb(139, 27, 40); /* RAL 460-6 */
--ral-460-m:	rgb(174, 54, 59); /* RAL 460-M */
--ral-470-1:	rgb(240,179,193); /* RAL 470-1 */
--ral-470-2:	rgb(230,139,157); /* RAL 470-2 */
--ral-470-3:	rgb(222,115,131); /* RAL 470-3 */
--ral-470-4:	rgb(202, 77,103); /* RAL 470-4 */
--ral-470-5:	rgb(172, 45, 76); /* RAL 470-5 */
--ral-470-6:	rgb(156, 34, 63); /* RAL 470-6 */
--ral-470-m:	rgb(177, 79, 93); /* RAL 470-M */
--ral-480-1:	rgb(245,202,201); /* RAL 480-1 */
--ral-480-2:	rgb(245,192,190); /* RAL 480-2 */
--ral-480-3:	rgb(238,186,188); /* RAL 480-3 */
--ral-480-4:	rgb(238,165,177); /* RAL 480-4 */
--ral-480-5:	rgb(233,144,158); /* RAL 480-5 */
--ral-480-6:	rgb(218,108,130); /* RAL 480-6 */
--ral-480-m:	rgb(168,117,121); /* RAL 480-M */
--ral-490-1:	rgb(243,207,208); /* RAL 490-1 */
--ral-490-2:	rgb(247,202,195); /* RAL 490-2 */
--ral-490-3:	rgb(232,154,146); /* RAL 490-3 */
--ral-490-4:	rgb(195,123,119); /* RAL 490-4 */
--ral-490-5:	rgb(190,127,140); /* RAL 490-5 */
--ral-490-6:	rgb(210,158,168); /* RAL 490-6 */
--ral-490-m:	rgb(167,125,136); /* RAL 490-M */
--ral-510-1:	rgb(236,200,220); /* RAL 510-1 */
--ral-510-2:	rgb(224,165,203); /* RAL 510-2 */
--ral-510-3:	rgb(213,132,177); /* RAL 510-3 */
--ral-510-4:	rgb(196, 99,141); /* RAL 510-4 */
--ral-510-5:	rgb(186, 72,119); /* RAL 510-5 */
--ral-510-6:	rgb(154, 59,106); /* RAL 510-6 */
--ral-510-m:	rgb(140, 61,113); /* RAL 510-M */
--ral-520-1:	rgb(239,210,223); /* RAL 520-1 */
--ral-520-2:	rgb(232,186,210); /* RAL 520-2 */
--ral-520-3:	rgb(220,165,192); /* RAL 520-3 */
--ral-520-4:	rgb(186,114,147); /* RAL 520-4 */
--ral-520-5:	rgb(160, 78,111); /* RAL 520-5 */
--ral-520-6:	rgb(146, 82,110); /* RAL 520-6 */
--ral-520-m:	rgb(158, 88,139); /* RAL 520-M */
--ral-530-1:	rgb(152, 68, 77); /* RAL 530-1 */
--ral-530-2:	rgb(143, 63, 78); /* RAL 530-2 */
--ral-530-3:	rgb(121, 54, 68); /* RAL 530-3 */
--ral-530-4:	rgb(124, 47, 75); /* RAL 530-4 */
--ral-530-5:	rgb(102, 37, 61); /* RAL 530-5 */
--ral-530-6:	rgb( 97, 41, 74); /* RAL 530-6 */
--ral-530-m:	rgb( 92, 45, 58); /* RAL 530-M */
--ral-540-1:	rgb(212,193,215); /* RAL 540-1 */
--ral-540-2:	rgb(190,161,193); /* RAL 540-2 */
--ral-540-3:	rgb(128, 95,131); /* RAL 540-3 */
--ral-540-4:	rgb(150,107,152); /* RAL 540-4 */
--ral-540-5:	rgb(129, 83,122); /* RAL 540-5 */
--ral-540-6:	rgb( 86, 44, 81); /* RAL 540-6 */
--ral-540-m:	rgb( 86, 47, 78); /* RAL 540-M */
--ral-550-1:	rgb(224,209,217); /* RAL 550-1 */
--ral-550-2:	rgb(208,187,201); /* RAL 550-2 */
--ral-550-3:	rgb(178,146,168); /* RAL 550-3 */
--ral-550-4:	rgb(156,116,136); /* RAL 550-4 */
--ral-550-5:	rgb(141, 97,119); /* RAL 550-5 */
--ral-550-6:	rgb(120, 76, 94); /* RAL 550-6 */
--ral-550-m:	rgb(167,136,144); /* RAL 550-M */
--ral-560-1:	rgb(204,188,199); /* RAL 560-1 */
--ral-560-2:	rgb(176,156,173); /* RAL 560-2 */
--ral-560-3:	rgb(140,111,128); /* RAL 560-3 */
--ral-560-4:	rgb(119, 84, 96); /* RAL 560-4 */
--ral-560-5:	rgb(133,114,127); /* RAL 560-5 */
--ral-560-6:	rgb(125,110,127); /* RAL 560-6 */
--ral-560-m:	rgb(165,146,164); /* RAL 560-M */
--ral-570-1:	rgb(209,206,232); /* RAL 570-1 */
--ral-570-2:	rgb(195,191,225); /* RAL 570-2 */
--ral-570-3:	rgb(173,173,221); /* RAL 570-3 */
--ral-570-4:	rgb(155,154,207); /* RAL 570-4 */
--ral-570-5:	rgb(128,120,179); /* RAL 570-5 */
--ral-570-6:	rgb(121,104,155); /* RAL 570-6 */
--ral-570-m:	rgb(107, 88,154); /* RAL 570-M */
--ral-580-1:	rgb(194,207,230); /* RAL 580-1 */
--ral-580-2:	rgb(188,199,224); /* RAL 580-2 */
--ral-580-3:	rgb(167,178,209); /* RAL 580-3 */
--ral-580-4:	rgb(105,116,154); /* RAL 580-4 */
--ral-580-5:	rgb( 65, 80,110); /* RAL 580-5 */
--ral-580-6:	rgb( 36, 49, 84); /* RAL 580-6 */
--ral-580-m:	rgb( 99,108,134); /* RAL 580-M */
--ral-590-1:	rgb(102,109,155); /* RAL 590-1 */
--ral-590-2:	rgb( 66, 66,118); /* RAL 590-2 */
--ral-590-3:	rgb( 42, 54,107); /* RAL 590-3 */
--ral-590-4:	rgb( 39, 47, 91); /* RAL 590-4 */
--ral-590-5:	rgb( 20, 45, 88); /* RAL 590-5 */
--ral-590-6:	rgb(  9, 59,122); /* RAL 590-6 */
--ral-590-m:	rgb( 41, 56, 98); /* RAL 590-M */
--ral-610-1:	rgb(110,143,171); /* RAL 610-1 */
--ral-610-2:	rgb( 97,122,148); /* RAL 610-2 */
--ral-610-3:	rgb(109,149,185); /* RAL 610-3 */
--ral-610-4:	rgb(137,178,216); /* RAL 610-4 */
--ral-610-5:	rgb( 71,119,174); /* RAL 610-5 */
--ral-610-6:	rgb( 67,105,153); /* RAL 610-6 */
--ral-610-m:	rgb(120,151,181); /* RAL 610-M */
--ral-620-1:	rgb( 52,104,138); /* RAL 620-1 */
--ral-620-2:	rgb( 96,146,172); /* RAL 620-2 */
--ral-620-3:	rgb(100,129,143); /* RAL 620-3 */
--ral-620-4:	rgb( 58, 90,106); /* RAL 620-4 */
--ral-620-5:	rgb( 20, 53, 75); /* RAL 620-5 */
--ral-620-6:	rgb( 30, 45, 63); /* RAL 620-6 */
--ral-620-m:	rgb(  9, 50, 70); /* RAL 620-M */
--ral-630-1:	rgb( 81,163,211); /* RAL 630-1 */
--ral-630-2:	rgb( 68,107,142); /* RAL 630-2 */
--ral-630-3:	rgb( 46, 78,111); /* RAL 630-3 */
--ral-630-4:	rgb( 45, 74,110); /* RAL 630-4 */
--ral-630-5:	rgb( 31, 52, 84); /* RAL 630-5 */
--ral-630-6:	rgb( 25, 54, 84); /* RAL 630-6 */
--ral-630-m:	rgb( 22, 48, 76); /* RAL 630-M */
--ral-640-1:	rgb( 73,160,197); /* RAL 640-1 */
--ral-640-2:	rgb(  0,135,181); /* RAL 640-2 */
--ral-640-3:	rgb(  0,123,174); /* RAL 640-3 */
--ral-640-4:	rgb(  0, 92,140); /* RAL 640-4 */
--ral-640-5:	rgb(  0, 84,138); /* RAL 640-5 */
--ral-640-6:	rgb(  0, 79,125); /* RAL 640-6 */
--ral-640-m:	rgb(  0, 78,135); /* RAL 640-M */
--ral-650-1:	rgb(100,181,214); /* RAL 650-1 */
--ral-650-2:	rgb(  0,119,160); /* RAL 650-2 */
--ral-650-3:	rgb(  0,108,151); /* RAL 650-3 */
--ral-650-4:	rgb(  0, 85,119); /* RAL 650-4 */
--ral-650-5:	rgb( 29, 91,120); /* RAL 650-5 */
--ral-650-6:	rgb( 10, 73, 98); /* RAL 650-6 */
--ral-650-m:	rgb(  0,113,157); /* RAL 650-M */
--ral-660-1:	rgb(  0,148,176); /* RAL 660-1 */
--ral-660-2:	rgb( 11,141,168); /* RAL 660-2 */
--ral-660-3:	rgb( 81,165,184); /* RAL 660-3 */
--ral-660-4:	rgb( 63,184,207); /* RAL 660-4 */
--ral-660-5:	rgb(108,195,212); /* RAL 660-5 */
--ral-660-6:	rgb(138,200,213); /* RAL 660-6 */
--ral-660-m:	rgb( 85,151,169); /* RAL 660-M */
--ral-670-1:	rgb(138,211,234); /* RAL 670-1 */
--ral-670-2:	rgb(151,218,239); /* RAL 670-2 */
--ral-670-3:	rgb(143,197,214); /* RAL 670-3 */
--ral-670-4:	rgb(105,187,211); /* RAL 670-4 */
--ral-670-5:	rgb( 91,185,213); /* RAL 670-5 */
--ral-670-6:	rgb( 78,194,230); /* RAL 670-6 */
--ral-670-m:	rgb(116,167,184); /* RAL 670-M */
--ral-680-1:	rgb(114,170,186); /* RAL 680-1 */
--ral-680-2:	rgb( 51,143,164); /* RAL 680-2 */
--ral-680-3:	rgb( 23,113,133); /* RAL 680-3 */
--ral-680-4:	rgb( 38,118,141); /* RAL 680-4 */
--ral-680-5:	rgb(  0,106,133); /* RAL 680-5 */
--ral-680-6:	rgb(  0, 91,116); /* RAL 680-6 */
--ral-680-m:	rgb( 14, 69, 92); /* RAL 680-M */
--ral-690-1:	rgb( 63,191,203); /* RAL 690-1 */
--ral-690-2:	rgb(  0,162,173); /* RAL 690-2 */
--ral-690-3:	rgb(  0,131,142); /* RAL 690-3 */
--ral-690-4:	rgb(  0,108,123); /* RAL 690-4 */
--ral-690-5:	rgb(  0, 83, 95); /* RAL 690-5 */
--ral-690-6:	rgb(  0, 81, 96); /* RAL 690-6 */
--ral-690-m:	rgb(  0,103,115); /* RAL 690-M */
--ral-710-1:	rgb(120,209,205); /* RAL 710-1 */
--ral-710-2:	rgb(  0,170,167); /* RAL 710-2 */
--ral-710-3:	rgb(  5,138,139); /* RAL 710-3 */
--ral-710-4:	rgb(  0,116,118); /* RAL 710-4 */
--ral-710-5:	rgb(  0, 92, 96); /* RAL 710-5 */
--ral-710-6:	rgb( 12, 71, 70); /* RAL 710-6 */
--ral-710-m:	rgb(  0,104,107); /* RAL 710-M */
--ral-720-1:	rgb(194,227,222); /* RAL 720-1 */
--ral-720-2:	rgb(164,226,219); /* RAL 720-2 */
--ral-720-3:	rgb(134,211,212); /* RAL 720-3 */
--ral-720-4:	rgb( 88,190,193); /* RAL 720-4 */
--ral-720-5:	rgb( 51,147,160); /* RAL 720-5 */
--ral-720-6:	rgb( 25,124,134); /* RAL 720-6 */
--ral-720-m:	rgb( 26,148,154); /* RAL 720-M */
--ral-730-1:	rgb(203,231,226); /* RAL 730-1 */
--ral-730-2:	rgb(152,211,211); /* RAL 730-2 */
--ral-730-3:	rgb(125,184,186); /* RAL 730-3 */
--ral-730-4:	rgb(123,185,180); /* RAL 730-4 */
--ral-730-5:	rgb(121,172,172); /* RAL 730-5 */
--ral-730-6:	rgb( 70,135,127); /* RAL 730-6 */
--ral-730-m:	rgb( 98,162,147); /* RAL 730-M */
--ral-740-1:	rgb(197,220,206); /* RAL 740-1 */
--ral-740-2:	rgb(179,214,201); /* RAL 740-2 */
--ral-740-3:	rgb(149,195,178); /* RAL 740-3 */
--ral-740-4:	rgb( 73,133,116); /* RAL 740-4 */
--ral-740-5:	rgb(  0,111, 91); /* RAL 740-5 */
--ral-740-6:	rgb(  0, 93, 78); /* RAL 740-6 */
--ral-740-m:	rgb( 58,111, 95); /* RAL 740-M */
--ral-750-1:	rgb(191,215,201); /* RAL 750-1 */
--ral-750-2:	rgb(143,180,160); /* RAL 750-2 */
--ral-750-3:	rgb( 61,116, 97); /* RAL 750-3 */
--ral-750-4:	rgb( 22, 66, 52); /* RAL 750-4 */
--ral-750-5:	rgb( 51, 84, 73); /* RAL 750-5 */
--ral-750-6:	rgb( 46, 60, 59); /* RAL 750-6 */
--ral-750-m:	rgb( 23, 55, 45); /* RAL 750-M */
--ral-760-1:	rgb(213,227,202); /* RAL 760-1 */
--ral-760-2:	rgb(184,205,170); /* RAL 760-2 */
--ral-760-3:	rgb(176,190,155); /* RAL 760-3 */
--ral-760-4:	rgb(139,155,122); /* RAL 760-4 */
--ral-760-5:	rgb(109,126, 92); /* RAL 760-5 */
--ral-760-6:	rgb( 74,100, 72); /* RAL 760-6 */
--ral-760-m:	rgb( 51, 75, 46); /* RAL 760-M */
--ral-770-1:	rgb(152,157,132); /* RAL 770-1 */
--ral-770-2:	rgb(169,168,143); /* RAL 770-2 */
--ral-770-3:	rgb(122,117, 90); /* RAL 770-3 */
--ral-770-4:	rgb(129,122,102); /* RAL 770-4 */
--ral-770-5:	rgb(180,175,159); /* RAL 770-5 */
--ral-770-6:	rgb(126,130,115); /* RAL 770-6 */
--ral-770-m:	rgb(141,136,100); /* RAL 770-M */
--ral-780-1:	rgb(233,222,204); /* RAL 780-1 */
--ral-780-2:	rgb(231,214,185); /* RAL 780-2 */
--ral-780-3:	rgb(221,196,154); /* RAL 780-3 */
--ral-780-4:	rgb(209,177,134); /* RAL 780-4 */
--ral-780-5:	rgb(163,142,121); /* RAL 780-5 */
--ral-780-6:	rgb(116,105, 92); /* RAL 780-6 */
--ral-780-m:	rgb(178,160,116); /* RAL 780-M */
--ral-790-1:	rgb( 62, 72, 73); /* RAL 790-1 */
--ral-790-2:	rgb( 59, 65, 71); /* RAL 790-2 */
--ral-790-3:	rgb( 49, 53, 56); /* RAL 790-3 */
--ral-790-4:	rgb( 48, 47, 50); /* RAL 790-4 */
--ral-790-5:	rgb( 33, 34, 36); /* RAL 790-5 */
--ral-790-6:	rgb( 33, 35, 45); /* RAL 790-6 */
--ral-790-m:	rgb( 34, 31, 29); /* RAL 790-M */
--ral-810-1:	rgb(151,157,162); /* RAL 810-1 */
--ral-810-2:	rgb(138,148,153); /* RAL 810-2 */
--ral-810-3:	rgb(121,136,142); /* RAL 810-3 */
--ral-810-4:	rgb( 94,107,115); /* RAL 810-4 */
--ral-810-5:	rgb( 81, 89, 93); /* RAL 810-5 */
--ral-810-6:	rgb( 57, 65, 70); /* RAL 810-6 */
--ral-810-m:	rgb( 64, 70, 73); /* RAL 810-M */
--ral-820-1:	rgb(197,200,202); /* RAL 820-1 */
--ral-820-2:	rgb(169,174,178); /* RAL 820-2 */
--ral-820-3:	rgb(141,147,149); /* RAL 820-3 */
--ral-820-4:	rgb(125,133,137); /* RAL 820-4 */
--ral-820-5:	rgb( 80, 85, 92); /* RAL 820-5 */
--ral-820-6:	rgb( 68, 73, 81); /* RAL 820-6 */
--ral-820-m:	rgb(146,145,145); /* RAL 820-M */
--ral-830-1:	rgb(186,188,186); /* RAL 830-1 */
--ral-830-2:	rgb(164,167,165); /* RAL 830-2 */
--ral-830-3:	rgb(141,146,145); /* RAL 830-3 */
--ral-830-4:	rgb(108,112,109); /* RAL 830-4 */
--ral-830-5:	rgb( 81, 85, 84); /* RAL 830-5 */
--ral-830-6:	rgb( 87, 94, 96); /* RAL 830-6 */
--ral-830-m:	rgb(130,129,127); /* RAL 830-M */
--ral-840-1:	rgb(231,227,216); /* RAL 840-1 */
--ral-840-2:	rgb(215,213,204); /* RAL 840-2 */
--ral-840-3:	rgb(184,180,168); /* RAL 840-3 */
--ral-840-4:	rgb(128,128,119); /* RAL 840-4 */
--ral-840-5:	rgb( 90, 93, 84); /* RAL 840-5 */
--ral-840-6:	rgb( 71, 65, 53); /* RAL 840-6 */
--ral-840-m:	rgb( 73, 68, 64); /* RAL 840-M */
--ral-850-1:	rgb(195,194,185); /* RAL 850-1 */
--ral-850-2:	rgb(177,177,170); /* RAL 850-2 */
--ral-850-3:	rgb(166,166,160); /* RAL 850-3 */
--ral-850-4:	rgb(145,141,133); /* RAL 850-4 */
--ral-850-5:	rgb(107,103, 96); /* RAL 850-5 */
--ral-850-6:	rgb( 76, 75, 70); /* RAL 850-6 */
--ral-850-m:	rgb( 98, 94, 89); /* RAL 850-M */
--ral-860-1:	rgb(216,218,219); /* RAL 860-1 */
--ral-860-2:	rgb(207,210,213); /* RAL 860-2 */
--ral-860-3:	rgb(193,194,196); /* RAL 860-3 */
--ral-860-4:	rgb(154,154,155); /* RAL 860-4 */
--ral-860-5:	rgb(122,122,121); /* RAL 860-5 */
--ral-860-6:	rgb( 91, 95, 95); /* RAL 860-6 */
--ral-860-m:	rgb(164,160,159); /* RAL 860-M */
--ral-870-1:	rgb(211,208,208); /* RAL 870-1 */
--ral-870-2:	rgb(150,147,146); /* RAL 870-2 */
--ral-870-3:	rgb( 99, 97,100); /* RAL 870-3 */
--ral-870-4:	rgb( 81, 77, 78); /* RAL 870-4 */
--ral-870-5:	rgb( 74, 71, 71); /* RAL 870-5 */
--ral-870-6:	rgb( 61, 55, 55); /* RAL 870-6 */
--ral-870-m:	rgb( 77, 71, 71); /* RAL 870-M */
}
