/** RAL Classic DE */
/** SCSS variable name from official German name */

$GruenBeige:       rgb(205,186,136); /* RAL 1000 */
$Beige:            rgb(208,176,132); /* RAL 1001 */
$SandGelb:         rgb(210,170,109); /* RAL 1002 */
$SignalGelb:       rgb(249,168,  0); /* RAL 1003 */
$GoldGelb:         rgb(228,158,  0); /* RAL 1004 */
$HonigGelb:        rgb(203,142,  0); /* RAL 1005 */
$MaisGelb:         rgb(226,144,  0); /* RAL 1006 */
$NarzissenGelb:    rgb(232,140,  0); /* RAL 1007 */
$BraunBeige:       rgb(175,128, 79); /* RAL 1011 */
$ZitronenGelb:     rgb(221,175, 39); /* RAL 1012 */
$PerlWeiss:        rgb(227,217,198); /* RAL 1013 */
$Elfenbein:        rgb(221,196,154); /* RAL 1014 */
$Hellelfenbein:    rgb(230,210,181); /* RAL 1015 */
$SchwefelGelb:     rgb(241,221, 56); /* RAL 1016 */
$SafranGelb:       rgb(246,169, 80); /* RAL 1017 */
$ZinkGelb:         rgb(250,202, 48); /* RAL 1018 */
$GrauBeige:        rgb(164,143,122); /* RAL 1019 */
$OlivGelb:         rgb(160,143,101); /* RAL 1020 */
$RapsGelb:         rgb(246,182,  0); /* RAL 1021 */
$VerkehrsGelb:     rgb(247,181,  0); /* RAL 1023 */
$OckerGelb:        rgb(186,143, 76); /* RAL 1024 */
$LeuchtGelb:       rgb(255,255,  0); /* RAL 1026 */
$CurryGelb:        rgb(167,127, 14); /* RAL 1027 */
$MelonenGelb:      rgb(255,155,  0); /* RAL 1028 */
$GinsterGelb:      rgb(226,163,  0); /* RAL 1032 */
$DahlienGelb:      rgb(249,154, 28); /* RAL 1033 */
$PastellGelb:      rgb(235,156, 82); /* RAL 1034 */
$PerlBeige:        rgb(144,131,112); /* RAL 1035 */
$PerlGold:         rgb(128,100, 63); /* RAL 1036 */
$SonnenGelb:       rgb(240,146,  0); /* RAL 1037 */
$GelbOrange:       rgb(218,110,  0); /* RAL 2000 */
$RotOrange:        rgb(186, 72, 27); /* RAL 2001 */
$BlutOrange:       rgb(191, 57, 34); /* RAL 2002 */
$PastellOrange:    rgb(246,120, 40); /* RAL 2003 */
$ReinOrange:       rgb(226, 83,  3); /* RAL 2004 */
$LeuchtOrange:     rgb(255, 77,  6); /* RAL 2005 */
$LeuchtHellOrange: rgb(255,178,  0); /* RAL 2007 */
$HellrotOrange:    rgb(237,107, 33); /* RAL 2008 */
$VerkehrsOrange:   rgb(222, 83,  7); /* RAL 2009 */
$SignalOrange:     rgb(208, 93, 40); /* RAL 2010 */
$TiefOrange:       rgb(226,110, 14); /* RAL 2011 */
$LachsOrange:      rgb(213,101, 77); /* RAL 2012 */
$PerlOrange:       rgb(146, 62, 37); /* RAL 2013 */
$FeuerRot:         rgb(167, 41, 32); /* RAL 3000 */
$SignalRot:        rgb(155, 36, 35); /* RAL 3001 */
$KarminRot:        rgb(155, 35, 33); /* RAL 3002 */
$RubinRot:         rgb(134, 26, 34); /* RAL 3003 */
$PurpurRot:        rgb(107, 28, 35); /* RAL 3004 */
$WeinRot:          rgb( 89, 25, 31); /* RAL 3005 */
$SchwarzRot:       rgb( 62, 32, 34); /* RAL 3007 */
$OxidRot:          rgb(109, 52, 45); /* RAL 3009 */
$BraunRot:         rgb(121, 36, 35); /* RAL 3011 */
$BeigeRot:         rgb(198,132,109); /* RAL 3012 */
$TomatenRot:       rgb(151, 46, 37); /* RAL 3013 */
$AltRosa:          rgb(203,115,117); /* RAL 3014 */
$HellRosa:         rgb(216,160,166); /* RAL 3015 */
$KorallenRot:      rgb(166, 61, 47); /* RAL 3016 */
$Rose:             rgb(203, 85, 93); /* RAL 3017 */
$ErdbeerRot:       rgb(199, 63, 74); /* RAL 3018 */
$VerkehrsRot:      rgb(187, 30, 16); /* RAL 3020 */
$LachsRot:         rgb(207,105, 85); /* RAL 3022 */
$LeuchtRot:        rgb(255, 45, 33); /* RAL 3024 */
$LeuchtHellRot:    rgb(255, 42, 27); /* RAL 3026 */
$HimbeerRot:       rgb(171, 39, 60); /* RAL 3027 */
$ReinRot:          rgb(204, 44, 36); /* RAL 3028 */
$OrientRot:        rgb(166, 52, 55); /* RAL 3031 */
$PerlrubinRot:     rgb(112, 29, 35); /* RAL 3032 */
$PerlRosa:         rgb(165, 58, 45); /* RAL 3033 */
$RotLila:          rgb(129, 97,131); /* RAL 4001 */
$RotViolett:       rgb(141, 60, 75); /* RAL 4002 */
$ErikaViolett:     rgb(196, 97,140); /* RAL 4003 */
$BordeauxViolett:  rgb(101, 30, 56); /* RAL 4004 */
$BlauLila:         rgb(118,104,154); /* RAL 4005 */
$Verkehrspurpur:   rgb(144, 51,115); /* RAL 4006 */
$PurpurViolett:    rgb( 71, 36, 60); /* RAL 4007 */
$SignalViolett:    rgb(132, 76,130); /* RAL 4008 */
$PastellViolett:   rgb(157,134,146); /* RAL 4009 */
$Telemagenta:      rgb(188, 64,119); /* RAL 4010 */
$PerlViolett:      rgb(110, 99,135); /* RAL 4011 */
$Perlbrombeer:     rgb(107,107,127); /* RAL 4012 */
$ViolettBlau:      rgb( 49, 79,111); /* RAL 5000 */
$GruenBlau:        rgb( 15, 76,100); /* RAL 5001 */
$UltramarinBlau:   rgb(  0, 56,123); /* RAL 5002 */
$SaphirBlau:       rgb( 31, 56, 85); /* RAL 5003 */
$SchwarzBlau:      rgb( 25, 30, 40); /* RAL 5004 */
$SignalBlau:       rgb(  0, 83,135); /* RAL 5005 */
$BrillantBlau:     rgb( 55,107,140); /* RAL 5007 */
$GrauBlau:         rgb( 43, 58, 68); /* RAL 5008 */
$AzurBlau:         rgb( 34, 95,120); /* RAL 5009 */
$EnzianBlau:       rgb(  0, 79,124); /* RAL 5010 */
$StahlBlau:        rgb( 26, 43, 60); /* RAL 5011 */
$LichtBlau:        rgb(  0,137,182); /* RAL 5012 */
$KobaltBlau:       rgb( 25, 49, 83); /* RAL 5013 */
$TaubenBlau:       rgb( 99,125,150); /* RAL 5014 */
$HimmelBlau:       rgb(  0,124,176); /* RAL 5015 */
$VerkehrsBlau:     rgb(  0, 91,140); /* RAL 5017 */
$TuerkisBlau:      rgb(  5,139,140); /* RAL 5018 */
$CapriBlau:        rgb(  0, 94,131); /* RAL 5019 */
$OzeanBlau:        rgb(  0, 65, 75); /* RAL 5020 */
$WasserBlau:       rgb(  0,117,119); /* RAL 5021 */
$NachtBlau:        rgb( 34, 45, 90); /* RAL 5022 */
$FernBlau:         rgb( 66,105,140); /* RAL 5023 */
$PastellBlau:      rgb( 96,147,172); /* RAL 5024 */
$Perlenzian:       rgb( 33,105,124); /* RAL 5025 */
$PerlnachtBlau:    rgb( 15, 48, 82); /* RAL 5026 */
$PatinaGruen:      rgb( 60,116, 96); /* RAL 6000 */
$SmaragdGruen:     rgb( 54,103, 53); /* RAL 6001 */
$LaubGruen:        rgb( 50, 89, 40); /* RAL 6002 */
$OlivGruen:        rgb( 80, 83, 60); /* RAL 6003 */
$BlauGruen:        rgb(  2, 68, 66); /* RAL 6004 */
$MoosGruen:        rgb( 17, 66, 50); /* RAL 6005 */
$GrauOliv:         rgb( 60, 57, 46); /* RAL 6006 */
$FlaschenGruen:    rgb( 44, 50, 34); /* RAL 6007 */
$BraunGruen:       rgb( 55, 52, 42); /* RAL 6008 */
$TannenGruen:      rgb( 39, 53, 42); /* RAL 6009 */
$GrasGruen:        rgb( 77,111, 57); /* RAL 6010 */
$ResedaGruen:      rgb(108,124, 89); /* RAL 6011 */
$SchwarzGruen:     rgb( 48, 61, 58); /* RAL 6012 */
$SchilfGruen:      rgb(125,118, 90); /* RAL 6013 */
$GelbOliv:         rgb( 71, 65, 53); /* RAL 6014 */
$SchwarzOliv:      rgb( 61, 61, 54); /* RAL 6015 */
$TuerkisGruen:     rgb(  0,105, 76); /* RAL 6016 */
$MaiGruen:         rgb( 88,127, 64); /* RAL 6017 */
$GelbGruen:        rgb( 97,153, 59); /* RAL 6018 */
$WeissGruen:       rgb(185,206,172); /* RAL 6019 */
$ChromoxidGruen:   rgb( 55, 66, 47); /* RAL 6020 */
$BlassGruen:       rgb(138,153,119); /* RAL 6021 */
$BraunOliv:        rgb( 58, 51, 39); /* RAL 6022 */
$VerkehrsGruen:    rgb(  0,131, 81); /* RAL 6024 */
$FarnGruen:        rgb( 94,110, 59); /* RAL 6025 */
$OpalGruen:        rgb(  0, 95, 78); /* RAL 6026 */
$LichtGruen:       rgb(126,186,181); /* RAL 6027 */
$KiefernGruen:     rgb( 49, 84, 66); /* RAL 6028 */
$MinzGruen:        rgb(  0,111, 61); /* RAL 6029 */
$SignalGruen:      rgb( 35,127, 82); /* RAL 6032 */
$MintTuerkis:      rgb( 70,135,127); /* RAL 6033 */
$PastellTuerkis:   rgb(122,172,172); /* RAL 6034 */
$PerlGruen:        rgb( 25, 77, 37); /* RAL 6035 */
$PerlopalGruen:    rgb(  4, 87, 75); /* RAL 6036 */
$ReinGruen:        rgb(  0,139, 41); /* RAL 6037 */
$LeuchtGruen:      rgb(  0,181, 26); /* RAL 6038 */
$FehGrau:          rgb(122,136,142); /* RAL 7000 */
$SilberGrau:       rgb(140,150,157); /* RAL 7001 */
$OlivGrau:         rgb(129,120, 99); /* RAL 7002 */
$MoosGrau:         rgb(122,118,105); /* RAL 7003 */
$SignalGrau:       rgb(155,155,155); /* RAL 7004 */
$MausGrau:         rgb(108,110,107); /* RAL 7005 */
$BeigeGrau:        rgb(118,106, 94); /* RAL 7006 */
$KhakiGrau:        rgb(116, 94, 61); /* RAL 7008 */
$GruenGrau:        rgb( 93, 96, 88); /* RAL 7009 */
$ZeltGrau:         rgb( 88, 92, 86); /* RAL 7010 */
$EisenGrau:        rgb( 82, 89, 93); /* RAL 7011 */
$BasaltGrau:       rgb( 87, 93, 94); /* RAL 7012 */
$BraunGrau:        rgb( 87, 80, 68); /* RAL 7013 */
$SchieferGrau:     rgb( 79, 83, 88); /* RAL 7015 */
$AnthrazitGrau:    rgb( 56, 62, 66); /* RAL 7016 */
$SchwarzGrau:      rgb( 47, 50, 52); /* RAL 7021 */
$UmbraGrau:        rgb( 76, 74, 68); /* RAL 7022 */
$BetonGrau:        rgb(128,128,118); /* RAL 7023 */
$GraphitGrau:      rgb( 69, 73, 78); /* RAL 7024 */
$GranitGrau:       rgb( 55, 67, 69); /* RAL 7026 */
$SteinGrau:        rgb(146,142,133); /* RAL 7030 */
$BlauGrau:         rgb( 91,104,109); /* RAL 7031 */
$KieselGrau:       rgb(181,176,161); /* RAL 7032 */
$ZementGrau:       rgb(127,130,116); /* RAL 7033 */
$GelbGrau:         rgb(146,136,111); /* RAL 7034 */
$LichtGrau:        rgb(197,199,196); /* RAL 7035 */
$PlatinGrau:       rgb(151,147,146); /* RAL 7036 */
$StaubGrau:        rgb(122,123,122); /* RAL 7037 */
$AchatGrau:        rgb(176,176,169); /* RAL 7038 */
$QuarzGrau:        rgb(107,102, 94); /* RAL 7039 */
$FensterGrau:      rgb(152,158,161); /* RAL 7040 */
$VerkehrsGrauA:    rgb(142,146,145); /* RAL 7042 */
$VerkehrsGrauB:    rgb( 79, 82, 80); /* RAL 7043 */
$SeidenGrau:       rgb(183,179,168); /* RAL 7044 */
$TeleGrau1:        rgb(141,146,149); /* RAL 7045 */
$TeleGrau2:        rgb(127,134,138); /* RAL 7046 */
$TeleGrau4:        rgb(200,200,199); /* RAL 7047 */
$PerlmausGrau:     rgb(129,123,115); /* RAL 7048 */
$GruenBraun:       rgb(137,105, 62); /* RAL 8000 */
$OckerBraun:       rgb(157, 98, 43); /* RAL 8001 */
$SignalBraun:      rgb(121, 77, 62); /* RAL 8002 */
$LehmBraun:        rgb(126, 75, 38); /* RAL 8003 */
$KupferBraun:      rgb(141, 73, 49); /* RAL 8004 */
$RehBraun:         rgb(112, 69, 42); /* RAL 8007 */
$OlivBraun:        rgb(114, 74, 37); /* RAL 8008 */
$NussBraun:        rgb( 90, 56, 38); /* RAL 8011 */
$RotBraun:         rgb(102, 51, 43); /* RAL 8012 */
$SepiaBraun:       rgb( 74, 53, 38); /* RAL 8014 */
$KastanienBraun:   rgb( 94, 47, 38); /* RAL 8015 */
$MahagoniBraun:    rgb( 76, 43, 32); /* RAL 8016 */
$SchokoladenBraun: rgb( 68, 47, 41); /* RAL 8017 */
$GrauBraun:        rgb( 61, 54, 53); /* RAL 8019 */
$SchwarzBraun:     rgb( 26, 23, 24); /* RAL 8022 */
$OrangeBraun:      rgb(164, 87, 41); /* RAL 8023 */
$BeigeBraun:       rgb(121, 80, 56); /* RAL 8024 */
$BlassBraun:       rgb(117, 88, 71); /* RAL 8025 */
$TerraBraun:       rgb( 81, 58, 42); /* RAL 8028 */
$Perlkupfer:       rgb(127, 64, 49); /* RAL 8029 */
$CremeWeiss:       rgb(233,224,210); /* RAL 9001 */
$GrauWeiss:        rgb(215,213,203); /* RAL 9002 */
$SignalWeiss:      rgb(236,236,231); /* RAL 9003 */
$SignalSchwarz:    rgb( 43, 43, 44); /* RAL 9004 */
$TiefSchwarz:      rgb( 14, 14, 16); /* RAL 9005 */
$WeissAluminium:   rgb(161,161,160); /* RAL 9006 */
$GrauAluminium:    rgb(135,133,129); /* RAL 9007 */
$ReinWeiss:        rgb(241,236,225); /* RAL 9010 */
$GraphitSchwarz:   rgb( 39, 41, 43); /* RAL 9011 */
$VerkehrsWeiss:    rgb(241,240,234); /* RAL 9016 */
$VerkehrsSchwarz:  rgb( 42, 41, 42); /* RAL 9017 */
$PapyrusWeiss:     rgb(200,203,196); /* RAL 9018 */
$PerlHellGrau:     rgb(133,133,131); /* RAL 9022 */
$PerlDunkelGrau:   rgb(121,123,122); /* RAL 9023 */
