/**
 * 88 HKS-N base colors for normal, natural paper
 * CSS Color Level 3 only supports `device-cmyk()`,
 * the correct color space is _ISO Scale_ or _Euroscale_
 * from ISO 2846 and ISO 12647-2
 */
:root {
--hks-01n: device-cmyk(0% 5% 60% 0%);
--hks-02n: device-cmyk(2% 0% 100% 0%);
--hks-03n: device-cmyk(0% 0% 100% 0%);
--hks-04n: device-cmyk(0% 10% 100% 0%);
--hks-05n: device-cmyk(0% 15% 100% 0%);
--hks-06n: device-cmyk(0% 30% 100% 0%);
--hks-07n: device-cmyk(0% 45% 100% 0%);
--hks-08n: device-cmyk(0% 50% 100% 0%);
/* no HKS 09N */
--hks-10n: device-cmyk(0% 70% 90% 0%);
--hks-11n: device-cmyk(0% 30% 35% 0%);
--hks-12n: device-cmyk(0% 60% 70% 0%);
--hks-13n: device-cmyk(0% 90% 80% 0%);
--hks-14n: device-cmyk(0% 75% 70% 0%);
--hks-15n: device-cmyk(5% 85% 70% 0%);
--hks-16n: device-cmyk(0% 100% 80% 0%);
--hks-17n: device-cmyk(10% 100% 60% 0%);
--hks-18n: device-cmyk(35% 100% 60% 0%);
/* no HKS 19N */
/* no HKS 20N */
--hks-21n: device-cmyk(0% 60% 15% 0%);
--hks-22n: device-cmyk(0% 100% 80% 0%);
--hks-23n: device-cmyk(0% 100% 70% 0%);
--hks-24n: device-cmyk(0% 100% 30% 0%);
--hks-25n: device-cmyk(0% 100% 25% 0%);
--hks-26n: device-cmyk(5% 100% 0% 0%);
--hks-27n: device-cmyk(3% 100% 60% 0%);
--hks-28n: device-cmyk(10% 100% 15% 0%);
--hks-29n: device-cmyk(35% 100% 0% 0%);
/* no HKS 30N */
--hks-31n: device-cmyk(10% 95% 0% 0%);
--hks-32n: device-cmyk(5% 100% 0% 0%);
--hks-33n: device-cmyk(40% 100% 0% 0%);
--hks-34n: device-cmyk(60% 90% 0% 0%);
--hks-35n: device-cmyk(80% 80% 0% 0%);
--hks-36n: device-cmyk(60% 80% 0% 0%);
--hks-37n: device-cmyk(70% 90% 0% 0%);
--hks-38n: device-cmyk(90% 50% 15% 30%);
--hks-39n: device-cmyk(100% 40% 0% 0%);
--hks-40n: device-cmyk(80% 7% 3% 0%);
--hks-41n: device-cmyk(90% 60% 10% 30%);
--hks-42n: device-cmyk(90% 55% 0% 0%);
--hks-43n: device-cmyk(100% 50% 0% 0%);
--hks-44n: device-cmyk(100% 30% 0% 0%);
--hks-45n: device-cmyk(90% 70% 0% 0%);
--hks-46n: device-cmyk(90% 20% 5% 0%);
--hks-47n: device-cmyk(100% 3% 0% 0%);
--hks-48n: device-cmyk(100% 0% 5% 0%);
--hks-49n: device-cmyk(100% 0% 8% 0%);
--hks-50n: device-cmyk(50% 0% 10% 0%);
--hks-51n: device-cmyk(100% 0% 30% 0%);
--hks-52n: device-cmyk(100% 0% 45% 0%);
--hks-53n: device-cmyk(80% 0% 45% 0%);
--hks-54n: device-cmyk(85% 0% 65% 0%);
--hks-55n: device-cmyk(100% 0% 65% 0%);
--hks-56n: device-cmyk(100% 0% 55% 20%);
--hks-57n: device-cmyk(80% 0% 70% 0%);
--hks-58n: device-cmyk(85% 0% 85% 20%);
--hks-59n: device-cmyk(100% 0% 40% 0%);
--hks-60n: device-cmyk(80% 0% 70% 0%);
--hks-61n: device-cmyk(60% 0% 90% 35%);
--hks-62n: device-cmyk(10% 0% 70% 35%);
--hks-63n: device-cmyk(55% 0% 90% 10%);
--hks-64n: device-cmyk(65% 0% 80% 0%);
--hks-65n: device-cmyk(45% 0% 75% 0%);
--hks-66n: device-cmyk(40% 0% 90% 0%);
--hks-67n: device-cmyk(40% 0% 100% 0%);
--hks-68n: device-cmyk(20% 7% 100% 0%);
--hks-69n: device-cmyk(10% 0% 100% 0%);
/* no HKS 70N */
--hks-71n: device-cmyk(0% 25% 100% 0%);
--hks-72n: device-cmyk(0% 30% 100% 2%);
--hks-73n: device-cmyk(20% 40% 100% 0%);
--hks-74n: device-cmyk(0% 30% 100% 25%);
--hks-75n: device-cmyk(10% 30% 80% 30%);
--hks-76n: device-cmyk(10% 40% 80% 50%);
--hks-77n: device-cmyk(0% 50% 90% 50%);
--hks-78n: device-cmyk(0% 55% 80% 30%);
/* no HKS 79N */
/* no HKS 80N */
--hks-81n: device-cmyk(0% 55% 100% 0%);
--hks-82n: device-cmyk(0% 65% 100% 5%);
--hks-83n: device-cmyk(0% 70% 90% 30%);
--hks-84n: device-cmyk(0% 70% 85% 40%);
/* no HKS 85N */
/* no HKS 86N */
/* no HKS 87N */
--hks-88n: device-cmyk(0% 0% 0% 100%);
--hks-89n: device-cmyk(0% 5% 30% 30%);
--hks-90n: device-cmyk(0% 20% 20% 85%);
--hks-91n: device-cmyk(15% 0% 15% 30%);
--hks-92n: device-cmyk(10% 0% 10% 50%);
--hks-93n: device-cmyk(35% 0% 10% 60%);
/* no HKS 94N */
--hks-95n: device-cmyk(0% 0% 20% 40%);
--hks-96n: device-cmyk(10% 3% 20% 40%);
--hks-97n: device-cmyk(15% 0% 25% 95%);
/* no HKS 98N */
/* no HKS 99N */
}
